/*
  Bloc item - Full-width image and text content, image on top by default
  Add .horizontal for image and text side-by-side, with image on the right
  Add .featured to add top-margin to content and text-padding on horizontal view
  
  Other modifiers:
    - .static         Remove hover effects
    - .text-padding   Add padding to text content
    - .white-bg       White content background
    - .invert         White text
    - .no-image       Text-only
    - .auto-height    Remove the min-height for text content
    - .no-plus-hover  Remove the + signe on hover
*/

$bloc-img-height: 280px;
$bloc-content-height: 260px;

.block-item {
  width: 100%;

  // Disable click/hover events on children
  .image, .content { pointer-events: none; }

  .image {
    position: relative;
    height: $bloc-img-height;
    overflow: hidden;

    // Yellow image hover
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 0;
      background-color: $yellow;
      transition: $basicTransition;
      z-index: 2;
    }

    &::after { 
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @extend .icomoon;
      content: "\e90c";
      font-size: 50px;
      z-index: 2;
      opacity: 0;
      transition: $basicTransition;
      color: $darkergrey;
    }

    img { 
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $basicTransition;
    }
  }

  .content {
    position: relative;
    @include flex(flex-start, flex-start);
    flex-direction: column;
    min-height: $bloc-content-height;
    padding-top: 30px;
    background: none;
    transition: $basicTransition;
    z-index: 1;

    // Yellow content hover
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 0;
      background-color: $yellow;
      transition: $basicTransition;
      z-index: -1;
    }

    & > div { width: 100%; }

    .surtitle {
      width: 100%;
      padding: 0 0 20px;
      @include fontSize(16, 26, 400);
      color: $yellow;
      transition: $basicTransition;

      &::before {
        position: relative;
        top: -1px;
        margin-right: 15px;
        font-size: 10px; 
        @extend .icomoon;
        content: "\e90e";
        color: $yellow;
        transition: $basicTransition;
      }
    }
    
    .title {
      margin: 0;
      padding: 0 0 30px;
      font-weight: 500;
      transition: $basicTransition;
    }

    .description {
      padding: 0 0 0;
      transition: $basicTransition;
    }

    .footer {
      position: relative;
      margin-top: auto;
      padding: 20px 0;
      border-top: 1px solid $borderColor;
      @include fontSize(16, 22, 600);
      opacity: 0.6;
      transition: $basicTransition;

      &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: 0;
        width: 0%;
        height: 1px;
        background-color: $darkergrey;
        transition: $basicTransition;
      }
    }
  }

  // News / Perspectives / Featured
  &.text-padding {
    .content {
      .surtitle, .title, .description, .footer { 
        padding-right: 40px;
        padding-left: 40px;
      }
    }
  }

  // Image on the left
  &.horizontal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row dense;
    margin-bottom: 80px;

    .image {
      grid-column-start: 2;
      height: 100%;
      max-height: 440px;
    }

    .content {
      grid-column-start: 1;
      @include flex(flex-start);
      flex-direction: column;

      .surtitle { @include fontSize(20, 27, 500); }
      .title { @include fontSize(38, 46, 500); }

      .footer {
        margin-top: auto;
      }
    }
    
    &.reverse {
      .image { grid-column-start: 1; }
      .content { grid-column-start: 2; }
    }
  
  }

  // White background behind text content
  &.white-bg {
    .content { 
      background-color: white;
      .surtitle { color: $darkyellow; }
    }
  }

  // White text
  &.invert {
    .content { 
      .surtitle, .title, .description { color: white; }
    }
  }

  // Text-only
  &.no-image {
    .image { height: 0 !important; }
  }

  // Automatic content height
  &.auto-height {
    .content { min-height: auto; }
  }

  // Remove plus sign on hover
  &.no-plus-hover {
    .content {
      &::after { opacity: 0 !important; }
    }
  }

  // Combo - Horizontal with white background and padding
  &.featured {
    @extend .horizontal;
    @extend .text-padding;
    @extend .white-bg;
    min-height: 460px;

    .image { max-height: 460px; }

    .content { 
      justify-content: flex-start;
      margin-top: 60px;
      padding-top: 60px;

      .surtitle, .title, .description, .footer { padding-left: 60px; }

      .surtitle { 
        @include fontSize(22, 26, 500); 
        &::before { top: -1px; }
      }

      &::after { 
        position: absolute;
        bottom: 36px;
        right: 30px;
        @extend .icomoon;
        content: "\e90c";
        font-size: 50px;
        z-index: 2;
        opacity: 0;
        transition: $basicTransition;
      }
    }
  }

  &:hover {
    &:not(.static) {
      // Blocks with padding use content-background and image zoom as hover
      &.text-padding {
        .image img { scale: 1.1; }

        .content {
          &::before { height: 100%; }
          .title, .surtitle, .surtitle::before { color: $darkergrey; }
        }
      }

      // Blocks without padding use image-background as hover
      &:not(.text-padding) {
        .image::before { height: 100%; }
        .image::after { opacity: 1; }
      }

      &.featured {
        .content {
          &::after { opacity: 1; }
          .title { color: $darkergrey; }
          .surtitle::before { color: $darkergrey; }
        }
      }

      .content .footer { 
        color: $darkergrey;
        opacity: 1;
        &::before { width: 100%; }
      }
    }

    &.invert {
      .content .surtitle, .title, .description { color: $darkergrey; }
    }
  
  }

  @media (max-width: $tablet) {
    .image { height: 170px; }

    .content, &.featured .content { 
      padding-top: 20px !important;
      min-height: 210px;
      .surtitle { @include fontSize(18, 24); }
    }

    &.text-padding {
      .content {
        .surtitle, .title, .description, .footer {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }

    &.horizontal {
      display: block;
      .image { height: 240px; }
    }

    &.featured {
      .content { 
        margin-top: 0; 

        .title { 
          padding-bottom: 50px; 
          @include fontSize(26, 32, 500);
        }

        &::after { opacity: 0 !important; }
      }
    }
  }

  @media (max-width: $mobile-large) {
    .image { height: 230px; }
  }
}