.block-cta { 
  padding-top: 100px;
  padding-bottom: 100px;

  .content {
    padding: 75px 100px 75px 0;

    .surtitle {
      padding: 0;
      @include fontSize(20, 27, 500);
      color: rgba($darkgrey, 0.7);
      &::before { display: none; }
    }

    .title {
      margin-top: 20px;
      @include fontSize(52, 56, 600, -1.08);
    }

    p {
      @include fontSize(18, 28);
    }
  }

  .image {
    max-height: none !important;
  }

  .btn {
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%) translateY(-80%);
    // translate: -50% -80%;
    width: 180px;
    height: 180px;
    padding: 15px;
    z-index: 9;
  }

  &.mirror {
    .content {
      padding: 75px 0 75px 100px;
    }
  }

  @media (max-width: $tablet) {
    .content { 
      padding-left: 0 !important; 
      padding-right: 0 !important; 
    }

    .btn {
      bottom: -60px;
      translate: -50% 0px;
    }
  }
}