.block-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;

  @media (max-width: $tablet-large) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $mobile-large) {
    grid-template-columns: 1fr;
  }
}