.block-cta { 
  padding-top: 100px;
  padding-bottom: 120px;

  .block-item.horizontal .content .title { @include fontSize(52, 56, 600, -1.08); }

  .block-item { margin-bottom: 0 !important; }
  
  .content {
    padding: 75px 100px 75px 0;

    .surtitle {
      padding: 0;
      @include fontSize(20, 27, 500);
      color: rgba($darkgrey, 0.7) !important;
      &::before { display: none; }
    }
    
    .title {
      margin-top: 20px;
      @include fontSize(52, 56, 600, -1.08);
    }

    p { @include fontSize(18, 28); }
  }

  .image {
    max-height: none !important;
  }

  .btn-ctn {
    position: absolute;
    left: 50%;
    bottom: 30%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    padding: 15px;
    z-index: 9;

    .btn {
      width: 100%;
      height: 100%;
    }
  }

  &.mirror {
    .content {
      padding: 75px 0 75px 100px;
    }
  }

  @media (max-width: $tablet) {
    .content { 
      padding-left: 0 !important; 
      padding-right: 0 !important; 
    }

    .block-item.horizontal .content .title { @include fontSize(36, 44, 600); }

    .btn-ctn { bottom: 40px; }
  }
}