.contact-cta {
  height: 600px;
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;

  .container {
    position: relative;

    img {
      position: absolute;
      height: 600px;
      width: 600px;
      left: 50%;
      top: -40%;
      translate: -50%;
      opacity: 0.2;
    }

    .title { 
      max-width: 600px;
      margin: 0 auto 80px;
      @include fontSize(60, 70, 500, -1);
      text-align: center;
    }

    .btn {
      margin: auto;
    }
  }

  @media (max-width: $tablet) {
    .container {
      img {
        height: 300px;
        width: 300px;
      }

      .title { @include fontSize(38, 46, 600); }
    }
  }
}