.contact-cta {
  height: 600px;
  // margin-top: 100px;

  .container { 
    position: relative;
    @include flex();
    flex-direction: column;
    height: 100%;
  }

  #cta-spinner {
    position: absolute;
    left: 50%;
    top: 0;
    height: 600px;
    width: 600px;
    transform: translateX(-50%);
    opacity: 0.2;
  }

  img {
    height: 100%;
    width: 100%;
    transform: rotate(0deg);
    opacity: 0.6;
  }

  .title { 
    max-width: 700px;
    margin: auto auto 0 auto;
    padding: 0;
    @include fontSize(60, 70, 500, -1);
    text-align: center;
  }

  .btn-ctn { margin: 40px 0 auto 0; }

  @media (max-width: $tablet) {
    height: 380px;
    
    .container {
      #cta-spinner {
        height: 300px;
        width: 300px;
      }

      .title { @include fontSize(38, 46, 600); }
    }
  }
}