.filters-ctn {
  height: 0;
  transition: $basicTransition;
  overflow: hidden;
  
  .filters {
    @include flex(flex-start, flex-start);
    padding-top: 30px;
    padding-bottom: 60px;
    border-top: 1px solid $borderColor;
  }

  .filter-group {
    @include flex(flex-start, flex-start);
    flex-wrap: wrap;

    .title {
      flex-basis: 100%;
      margin-bottom: 20px;
      @include fontSize(20, 27, 500, -0.4);
    }

    label {
      @include flex();
      height: 40px;
      margin: 0 10px 10px 0;
      padding: 0 20px;
      background-color: white;
      border-radius: 20px;
      @include fontSize(15, 21, 500, -0.3);
      white-space: nowrap;
      transition: $basicTransition;
      cursor: pointer;
    }
    
    input {
      display: none;
      &:checked + label { 
        background-color: $yellow; 
        color: $darkergrey;
        &::after {
          content: 'x';
          margin-left: 8px;
        }
      }
    }
  }

  #clear-filters {
    display: none;
    top: 47px;
    min-height: 40px;
    margin: 0 0 0 auto;
    padding: 5px 30px;
    font-size: 14px;
  }

  @media (max-width: $tablet-large) {
    .filters { flex-direction: column; }
    .filter-group .title { margin: 10px 0 10px; }
  }
}
