#footer {
  padding-top: 100px;
  @include flex(center, space-between);
  flex-wrap: wrap;
  padding: 70px 40px 20px;
  
  a:hover { color: $yellow; }

  nav {
    @include flex(center);

    a {
      padding: 10px;
      @include fontSize(18, 24, 500);
    }
  }

  .sub-footer {
    @include flex(center, space-between);
    flex-basis: 100%;
    margin-top: 40px;
    padding: 20px 0 0;
    border-top: 1px solid $borderColor;

    div { 
      padding: 10px;
      @include fontSize(14, 19);
    }
  }

  @media (max-width: $tablet) {
    display: block;
    padding: 20px;

    .social { padding-bottom: 30px; }

    .contact { 
      display: block;
      padding-top: 40px; 
      text-align: center;
      border-top: 1px solid $borderColor;
      a { @include fontSize(18, 24, 500); }
      div:first-child { padding-bottom: 16px; }
    }
  }

  @media (max-width: $mobile-large) {
    .social a { @include fontSize(14, 20, 400); }
    .sub-footer div { @include fontSize(12, 16, 400); }
  }

}

// Set background to grey if set by body class
.page-container.grey #footer { background-color: $lightgrey; }

// Set link color to white if blue background
.page-container.blue-footer #footer {
  div, a:not(:hover) { color: white; }
  .sub-footer { border-color: white; }
}

// Override grey background on case study detail page
.page-container.page-case-study #footer { background-color: white; }

// Special blue background on leadership page
.page-container.page-leadership #footer {
  background-color: $blue;
  * { color: white !important; }
}

// Special grey background on contact page
.page-container.page-contact #footer { background-color: $lightgrey; }