#footer {
  padding-top: 100px;
  
  .container {
    @include flex(center, space-between);
    flex-wrap: wrap;
  }

  nav {
    @include flex(center);

    a {
      padding: 10px;
      @include fontSize(18, 24, 500);
    }
  }

  a {
    // transition: $basicTransition;
    &:hover { color: $yellow; }
  }

  .sub-footer {
    @include flex(center, space-between);
    flex-basis: 100%;
    margin-top: 40px;
    padding: 20px 0 50px;
    border-top: 1px solid $borderColor;

    div { 
      padding: 10px;
      @include fontSize(14, 19);
    }
  }

  @media (max-width: $mobile-large) {
    nav a {
      @include fontSize(14, 20, 400);
    }
  }
}

// Set background to grey if set by body class
.page-container.grey #footer {
  background-color: $lightgrey;
}

// Set link color to white if blue background
.page-container.blue-head #footer {
  div, a:not(:hover) { color: white; }
}

.page-container.case-study-ctn #footer {
  background-color: $beige;
}

.page-container.leadership-ctn #footer {
  background-color: $blue;
  * { color: white !important; }
}