$menu-toggle-transition: transform 0.3s ease-out 600ms, top 0.3s ease-out 600ms, background-color 0.3s ease-out 0ms;
$logo-transition: all 0.3s ease-out 300ms;

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  // All links
  a, a i {
    cursor: pointer;
    transition: $basicTransition;

    &[id$="-close"] {
      opacity: 1;
      &:hover { opacity: 0.4; }
    }
  }

  // Extendable class for top yellow panes
  .yellow-pane {
    position: relative;
    @include flex();
    width: 100%;
    height: $upper-header-height;
    padding: 0 40px;
    background-color: $yellow;
    transition: all 0.2s ease-out;
    overflow: hidden;
  }

  // Top yellow search field
  #search-pane {
    @extend .yellow-pane;
    z-index: 900;

    a { @include flex(); }

    input {
      width: 100%;
      height: 100%;
      padding: 0;
      border: 0 none;
      background: none;
      @include fontSize(62, 85);

      &:focus, &:focus-visible { outline: none; }
      &::placeholder { color: rgba($darkgrey, 0.5); }
    }
  }

  // Top yellow country toggler 
  #country-pane {
    @extend .yellow-pane;
    justify-content: space-between;
    z-index: 901;

    p { 
      margin: 0;
      line-height: 24px; 
    }

    .content { @include flex(); }

    .btn { margin: 0 34px 0 auto; }

    #country-close {
      position: absolute;
      right: 30px;
      top: 30px;
    }

    .countries {
      @include flex();
      gap: 10px 45px;
      margin: 0 30px;

      label { 
        @include flex();
        white-space: nowrap;

        input { 
          position: relative;
          appearance: none;

          &::before, &:checked::after {
            content: '';
            display: block;
            border-radius: 50%;
          }

          // White circle
          &::before {
            width: 28px;
            height: 28px;
            margin-right: 10px;
            background-color: white;
            border: 1px solid white;
            transition: $basicTransition;
          }

          &:hover::before { border-color: $blue; }

          // Blue dot
          &:checked::after {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 16px;
            height: 16px;
            background-color: $blue;
            transition: $basicTransition;
          }
        }
      }
    }
  }

  // Top menu Country / Language / Search togglers
  #main-pane {
    position: relative;
    top: 0;
    @include flex();
    height: $header-height;
    padding: 0 40px;
    background-color: white;
    transition: all 0.3s ease-out 0ms, background-color 0.3s ease-out 300ms;
    overflow: hidden;

    #logo { 
      position: relative;
      width: 240px;
      height: 62px;
      z-index: 120;

      img { 
        position: absolute;
        transition: $logo-transition;
        opacity: 1; 
        &.invert { opacity: 0; }
      }
    }

    #top-menu {
      position: relative;
      @include flex(center, space-between);
      height: 100%;
      margin-left: auto;
      margin-right: 80px;
      z-index: 800;
      overflow: hidden;

      a, .wpml-ls-legacy-list-horizontal {
        padding: 20px;
        @include fontSize(16, 22, 600);
        
        .wpml-ls-link { 
          padding: 0; 
          span { transition: $basicTransition; }
        }

        &:hover, &:hover i, &:hover .wpml-ls-link span { color: $yellow; }
      }

      #search-toggle i {
        position: relative;
        top: 2px;
      }
    }
  }

  // Burger / Close menu icon
  #menu-toggle {
    position: relative;
    right: 40px;
    @include flex();

    .bars {
      position: absolute;
      width: 50px;
      height: 40px;
      margin: auto;
      z-index: 899;
    }

    span {
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background-color: $darkgrey;
      transform: rotate(0deg);
      transition: $menu-toggle-transition;

      &.bar1 { top: 14px; }
      &.bar2 { top: 22px; }
    }

    &:hover span { background-color: $yellow; }
  }

  // Sticky header
  &.sticky {
    #main-pane { 
      height: 86px; 
      #logo img { transition-delay: 0ms; }
    }
  }

  // Hide panels by default
  &:not(.show-search-pane) #search-pane { height: 0 !important; }
  &:not(.show-country-pane) #country-pane { height: 0 !important; }
  &:not(.show-main-pane) #main-pane { top: calc($header-height * -1) !important; }

  @media (max-width: $tablet-large) {
    #country-pane {
      p, label { @include fontSize(16, 20); }

      .content { 
        align-items: flex-start;
        flex-direction: column; 
      }

      .countries {
        margin: 8px 0 0;
      }
    }
  }

  @media (max-width: $tablet) {
    #main-pane { 
      @include flex(flex-start, flex-start);
      flex-direction: column;
      height: 80px;
      padding: 0 20px;

      #logo { margin-top: 8px; }

      #top-menu { 
        display: none; 
        width: 100%;
        margin: 40px 0 0;

        #country-toggle { padding-left: 0; }
        #language-toggle { margin-left: auto; }
      }
    }

    #country-pane {
      @include flex(flex-start, space-evenly);
      flex-direction: column;
      height: $upper-header-height-tablet;

      .btn { margin-right: 0; }
      .content { margin-right: 30px; }
      
      .countries {
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }

    #menu-toggle { 
      position: absolute;
      top: 40px;
    }
  }
  
  // Resize and replace logo
  @media (max-width: $mobile) {
    #main-pane { 
      #logo { 
        width: 180px;
        margin-top: 16px;
      }

      // 
      #top-menu #country-toggle { font-size: 13px; }
    }
  }
}

// Set background to grey if set by body class
.page-container.grey #header #main-pane { background-color: $lightgrey; }

// Set background to blue / text to white if set by body class
.page-container.blue-head #header {
  &:not(.sticky) #main-pane {
    transition: all 0.3s ease-out 0ms, background-color 200ms ease-out 300ms;
    background-color: $blue;
    a, .wpml-ls-legacy-list-horizontal .wpml-ls-link span, a i { color: white; }
    
    #logo img { 
      opacity: 0;
      &.invert { opacity: 1; }
    }

    #menu-toggle .bars {
      span { background-color: white; }
      &:hover span { background-color: $yellow; }
    }
  }

  &.sticky #main-pane {
    transition: all 0.3s ease-out 0ms, background-color 0s ease-out 0ms;
  }
}

// ----- Menu-dependant styles -----

body.menu-open #header, body.menu-opening #header {
  #main-pane {
    // White links when menu is opening or open
    a, .wpml-ls-legacy-list-horizontal .wpml-ls-link span, a i { color: white; }

    // Switch logo version when menu is opening or open
    #logo img {
      opacity: 0;
      &.invert { opacity: 1; }
    }

    // Turn menu burger icon into X
    #menu-toggle {
      span { 
        top: 18px; 
        background-color: $yellow !important;
        &.bar1 { transform: rotate(45deg); }
        &.bar2 { transform: rotate(-45deg); }
      }
  
      &:hover span { background-color: white !important; }
    }
  }
}

body.menu-open #header {
  #main-pane {
    a, .wpml-ls-legacy-list-horizontal .wpml-ls-link span, a i { transition-delay: 0ms !important; }
  }

  @media (max-width: $tablet) {
    #main-pane { 
      height: $header-height-tablet;

      #top-menu { display: flex; }
      #search-toggle { padding-right: 8px; }
      .wpml-ls-legacy-list-horizontal { margin: 0 0 0 auto; }
    }
  }
}

body.menu-opening #header {
  #main-pane {
    a, .wpml-ls-legacy-list-horizontal .wpml-ls-link span, a i { transition-delay: 300ms !important; }
  }
}

body.menu-closing #header {
  #main-pane {
    a, .wpml-ls-legacy-list-horizontal .wpml-ls-link span, a i { transition-delay: 600ms !important; }
    #menu-toggle span { 
      transition: transform 0.3s ease-out 100ms, top 0.3s ease-out 100ms, background-color 0.3s ease-out 500ms;
    }
  }
}
