$menu-image-width: 24vw;
$menu-top-padding: 130px;
$menu-top-padding-mobile: 30px;

$menu-transition: all 0.5s ease-out;
$image-transition: all 0.5s ease-out;
$primary-transition: all 0.4s ease-out;
$text-transition: all 0.3s ease;

$menu-transition-delay: 0ms;
$image-transition-delay: 900ms;
$primary-transition-delay: 500ms;
$text-transition-delay: 1300ms;

$menu-open-transition: all 0.4s ease;
$image-open-transition: all 0.3s ease;
$primary-open-transition: all 0.4s ease;
$text-open-transition: all 0.2s ease;

$menu-open-transition-delay: 600ms;
$image-open-transition-delay: 300ms;
$primary-open-transition-delay: 400ms;
$text-open-transition-delay: 0ms;

#menu {
  @include flex(center, flex-start);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $altblue;
  z-index: 100;
  transition: $menu-transition;
  transition-delay: $menu-transition-delay;

  ul { padding: 0; }

  #menu-image {
    position: absolute;
    top: 0;
    left: 0;
    width: $menu-image-width;
    height: 100%;
    background-image: url('/assets/images/ui/menu-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    opacity: 0.25;
    z-index: 1;
    transition: $image-transition;
    transition-delay: $image-transition-delay;
  }

  #primary-menu {
    left: 0;
    width: 100%;
    height: 100%;
    padding: $menu-top-padding 0 0;
    background-color: $blue;
    transition: $primary-transition;
    transition-delay: $primary-transition-delay;
    overflow: hidden;

    li { 
      width: max-content;
      padding-left: calc($menu-image-width + 80px);
      opacity: 1;
      overflow: hidden;
      transition: $text-transition;
      transition-delay: $text-transition-delay;

      a, .secondary-menu a.back {
        display: block;
        @include fontSize(48, 65, 500);
        color: $yellow;
        cursor: pointer;
        transition: all 0.3s ease;

        &.secondary-link::after {
          position: relative;
          top: -4px;
          font-family: 'icomoon' !important;
          content: "\e90b";
          margin-left: 10px;
          font-size: 22px;
        }

        &:hover { color: white; }
      }

      .secondary-menu {
        position: absolute;
        top: 0;
        right: 0;
        width: calc((100% - $menu-image-width) / 2);
        height: 100vh;
        padding: $menu-top-padding 0 0;
        background-color: $altblue;
        transition: $basicTransition;
        overflow: hidden;

        li { 
          width: 100%;
          padding: 15px 50px; 
        }

        a {
          display: block;
          @include fontSize(22, 30, 500, -0.3);
          color: white;

          &.back { 
            display: none;

            &::before {
              font-family: 'icomoon' !important;
              content: "\e90a";
              margin-right: 10px;
              font-size: 22px;
            }
          }
        }
      }

      &.show {
        a { color: white; }
      }

      &:not(.show) { 
        .secondary-menu { 
          right: calc((100% - $menu-image-width) / (-2));
        }
      }
    }
  }

  #menu-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include flex(center, space-between);
    transition: $basicTransition;
    transition-delay: 1000ms;
    opacity: 0;
    z-index: 99;
    overflow: hidden;

    a { 
      @include fontSize(16, 22, 500);
      color: white;
      &:hover { color:$yellow; }
    }
    
    .contact { 
      padding: 40px 20px;
      text-align: right;
      a { padding: 0 20px; }
    }

    .ms {
      padding: 40px 20px;
      a { padding: 0 10px; }
    }
  }

  // Menu is either fully opened or closing
  &.-on {
    transition: $menu-open-transition;
    transition-delay: $menu-open-transition-delay !important;

    #menu-image { 
      transition: $image-open-transition;
      transition-delay: $image-open-transition-delay !important; 
    }

    #primary-menu { 
      transition: $primary-open-transition;
      transition-delay: $primary-open-transition-delay !important;

      li { 
        transition: $text-open-transition;
        transition-delay: $text-open-transition-delay !important;
      }
    }

    #menu-footer { 
      opacity: 1; 
      transition-delay: 0ms;
    }

    // Disable transition delays when menu is open AND not closing
    &.show { 
      #menu-image, #primary-menu { 
        transition: $basicTransition;
        transition-delay: 0ms !important; 
      } 
    }  
  }

  // Menu is not triggered, so hide everything
  &:not(.show) {
    width: 0 !important;
    #menu-image, #primary-menu, .secondary-menu { width: 0 !important; }
    li { opacity: 0 !important; }
  }
}

// Adjust top margin with top yellow panel height
#header.show-search-pane, 
#header.show-country-pane {
  #menu-image {
    margin-top: calc($upper-header-height);
  }

  #primary-menu, #primary-menu li .secondary-menu {
    padding-top: calc($header-height + $upper-header-height);
  }
}


@media (max-width: 1100px) {
  #menu {
    #primary-menu {
      li { padding-left: calc($menu-image-width + 40px); }
    }
  }
}

@media (max-width: $tablet-large) {
  #menu {
    #menu-image {
      width: 100%;
      height: $header-height;
      background-position-y: 50%;
      background-position-x: 0;
    }

    #primary-menu {
      padding-top: calc($header-height + $menu-top-padding-mobile);
      padding-bottom: 0;

      li {
        padding-left: 40px;

        .secondary-menu {
          margin-top: $header-height;
          padding-top: $menu-top-padding-mobile;
          width: 50%;
          right: 0;
        }

        &:not(.show) {
          .secondary-menu { right: -50%; }
        }
      }
    }

    #menu-footer { 
      a { @include fontSize(13, 20); }
    }
  
    &:not(.show) {
      #menu-image {
        width: 100% !important;
        background-position-x: -140vh;
      }
    }
  }

  #header.show-search-pane #menu, 
  #header.show-country-pane #menu {
    #menu-image { transition-delay: 100ms; }

    #primary-menu {
      padding-top: calc($header-height + $upper-header-height + $menu-top-padding-mobile);

      li .secondary-menu {
        padding-top: $menu-top-padding-mobile;
        margin-top: calc($header-height + $upper-header-height);
      }
    }
  }
}

@media (max-width: $tablet) {
  #menu {
    #menu-image { height: $header-height-tablet; }

    #primary-menu {
      padding-top: calc($header-height-tablet + $menu-top-padding-mobile);

      li {
        padding-left: 40px;

        a { @include fontSize(30, 50, 500); }

        .secondary-menu {
          margin-top: $header-height-tablet;
          width: 50%;
          right: 0;
        }
      }
    }

    #menu-footer { display: none; }
  }

  #header.show-search-pane #menu {
    #primary-menu {
      padding-top: calc($header-height-tablet + $upper-header-height + $menu-top-padding-mobile);

      li .secondary-menu {
        margin-top: calc($header-height-tablet + $upper-header-height);
      }
    }
  }
  // On mobile, the country pane is wider than search
  #header.show-country-pane #menu {
    #menu-image {
      margin-top: $upper-header-height-tablet;
      height: $header-height-tablet;
    }

    #primary-menu {
      padding-top: calc($header-height-tablet + $upper-header-height-tablet + $menu-top-padding-mobile);

      li .secondary-menu {
        margin-top: calc($header-height-tablet + $upper-header-height-tablet);
      }
    }
  }
}

@media (max-width: 550px) {
  #menu {
    #primary-menu li {
      .secondary-menu {
        width: 100% !important;

        a.back {
          display: block;
          margin-left: 30px;
          @include fontSize(30, 50, 500);
        }

        li {
          padding-left: 30px;
          padding-right: 30px;

          a {
            @include fontSize(17, 23, 500, -0.24);
          }
        }
      }

      &:not(.show) .secondary-menu {
        right: -100%;
      }
    }
  }
}