$menu-image-width: 24vw;
$menu-top-padding: 130px;
$menu-top-padding-mobile: 30px;

$menu-opening-transition: all 0.5s ease-out 0ms;
$primary-opening-transition: all 0.5s ease-out 300ms;
$image-opening-transition: all 0.4s ease-out 500ms;
$text-opening-transition: all 0.4s ease 1000ms;

$menu-open-transition: all 0.3s ease 0ms;
$image-open-transition: all 0.3s ease 0ms;
$primary-open-transition: all 0.3s ease 0ms;
$text-open-transition: all 0.3s ease 0ms;

$menu-closing-transition: all 0.4s ease 600ms;
$image-closing-transition: all 0.3s ease 300ms;
$primary-closing-transition: all 0.4s ease 400ms;
$text-closing-transition: all 0.2s ease 0ms;

#menu {
  @include flex(center, flex-start);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $altblue;
  z-index: 100;
  transition: $menu-opening-transition;
  pointer-events: all;

  ul { padding: 0; }

  #menu-image {
    position: absolute;
    top: 0;
    left: 0;
    width: $menu-image-width;
    height: 100%;
    z-index: 1;
    transition: $image-opening-transition;
    background-color: $blue;

    &::before, &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &::before {
      background-image: url('/assets/images/menu/default-bg.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      opacity: 0.25;
    }
  }

  #primary-menu {
    @include flex(center, flex-start);
    left: 0;
    width: 100%;
    height: 100%;
    padding: $menu-top-padding 0 110px;
    background-color: $blue;
    transition: $primary-opening-transition;
    overflow: hidden;
    overflow-y: scroll;

    .primary-inner {
      margin: auto 0;
      height: max-content;
    }
    
    // Hide scrollbar
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar { display: none;  /* Safari and Chrome */ }

    li { 
      width: max-content;
      padding-left: calc($menu-image-width + 80px);
      opacity: 1;
      overflow: hidden;
      transition: $text-opening-transition;

      a, .secondary-menu a.back {
        display: block;
        @include fontSize(48, 65, 500);
        color: $yellow;
        cursor: pointer;
        transition: all 0.3s ease;
        height: 60px;

        &.selected { color: white !important; }

        &.secondary-link::after {
          position: relative;
          top: -4px;
          font-family: 'icomoon' !important;
          content: "\e90b";
          margin-left: 10px;
          font-size: 22px;
        }

        &:hover { color: white; }
      }

      .secondary-menu {
        position: absolute;
        top: 0;
        right: 0;
        width: calc((100% - $menu-image-width) / 2);
        height: 100vh;
        padding: $menu-top-padding 0 0;
        background-color: $altblue;
        transition: $basicTransition, padding-top 0s;
        overflow: hidden;

        li { 
          width: 100%;
          padding: 15px 50px; 
        }

        a {
          display: block;
          @include fontSize(22, 30, 500, -0.3);
          color: white;
          height: auto;

          &.back { 
            display: none;

            &::before {
              font-family: 'icomoon' !important;
              content: "\e90a";
              margin-right: 10px;
              font-size: 22px;
            }
          }
        }
      }

      // &.show a { color: white; }

      &:not(.show) { 
        .secondary-menu { right: calc((100% - $menu-image-width) / (-2)); }
      }
    }
  }

  #menu-footer {
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    @include flex(center, space-between);
    transition: $basicTransition;
    opacity: 0;
    z-index: 99;
    overflow: hidden;
    pointer-events: none;

    .menu-footer-link { 
      @include fontSize(16, 22, 500);
      color: white;
      pointer-events: all;
      &:hover { color: $yellow; }
    }
    
    .contact { 
      padding: 40px 20px;
      text-align: right;
      .menu-footer-link { padding: 0 20px; }
    }

    .ms {
      padding: 40px 20px;
      .menu-footer-link { padding: 0 10px; }
    }
  }
}

// Custom page-specific images 
// Can be overridden with the menu-image ACF
.page-container {
  &.page-contact #menu #menu-image::before { background-image: url('/assets/images/menu/contact.jpg'); }
  &.page-news #menu #menu-image::before { background-image: url('/assets/images/menu/news.jpg'); }
  &.page-case-studies #menu #menu-image::before { background-image: url('/assets/images/menu/case-studies.jpg'); }
  &.page-home #menu #menu-image::before { background-image: url('/assets/images/menu/home.jpg'); }
  &.page-industry #menu #menu-image::before { background-image: url('/assets/images/menu/industries.jpg'); }
  &.page-perspectives #menu #menu-image::before { background-image: url('/assets/images/menu/perspectives.jpg'); }
  &.page-perspective #menu #menu-image::before { background-image: url('/assets/images/menu/perspectives.jpg'); }
  &.page-expertises #menu #menu-image::before { background-image: url('/assets/images/menu/expertises.jpg'); }
  // About, career
}

// Hide menu when not shown nor triggered
body.menu-open #menu {
  transition: $menu-open-transition !important;
  #menu-image { transition: $image-open-transition !important; }
  #primary-menu { transition: $primary-open-transition !important; }
  #primary-menu li { transition: $text-open-transition !important; }

  #menu-footer {
    bottom: 0; 
    opacity: 1; 
    transition-delay: 0ms;
  }
}

// Hide menu when not shown nor triggered
body.menu-closing #menu {
  transition: $menu-closing-transition !important;
  #menu-image { transition: $image-closing-transition !important; }
  #primary-menu { transition: $primary-closing-transition !important; }
  #primary-menu li { transition: $text-closing-transition !important; }
}

// Hide menu when not shown nor triggered
body:not(.menu-open):not(.menu-opening) #menu {
  width: 0 !important;
  #menu-image { left: -100vw; }
  #primary-menu, .secondary-menu { width: 0 !important; }
  li { opacity: 0 !important; }
}

// Adjust top margin with top yellow panel height
#header.show-search-pane, 
#header.show-country-pane {
  #menu-image { margin-top: calc($yellow-header-height); }
  #primary-menu, #primary-menu li .secondary-menu { padding-top: calc($header-height + $yellow-header-height); }
}

@media (max-width: 1100px) {
  #menu {
    #primary-menu li { padding-left: calc($menu-image-width + 40px); }
  }
}

@media (max-width: $tablet-large) {
  #menu {
    #menu-image {
      width: 100%;
      height: $header-height;
      transition-delay: 0ms;

      &::before { background-position-y: 50%; }

      &::after {
        background-color: $blue;
        transition: all 0.5s ease-out 340ms;
        right: 0;
      }
    }

    #primary-menu {
      padding-top: calc($header-height + $menu-top-padding-mobile);
      padding-bottom: 0;
      align-items: flex-start;
      
      .primary-inner { margin: 0; }

      li {
        padding-left: 40px;

        .secondary-menu {
          margin-top: $header-height;
          padding-top: $menu-top-padding-mobile;
          width: 50%;
          right: 0;
          z-index: 1;
        }

        &:not(.show) {
          .secondary-menu { right: -50%; }
        }
      }
    }

    #menu-footer { 
      align-items: flex-end;
      flex-direction: column;

      .ms { padding-bottom: 0px; }
      .contact { padding-top: 10px; }

      a { @include fontSize(13, 20); }
    }
  }

  #header.show-search-pane #menu, 
  #header.show-country-pane #menu {
    #menu-image { transition-delay: 0ms !important; }

    #primary-menu {
      padding-top: calc($header-height + $yellow-header-height + $menu-top-padding-mobile);

      li .secondary-menu {
        padding-top: $menu-top-padding-mobile;
        margin-top: calc($header-height + $yellow-header-height);
      }
    }
  }

  body.menu-open #menu {
    #menu-image::after { right: -100vw; }
  }
}

@media (max-width: $tablet) {
  #menu {
    #menu-image { height: $header-height-tablet; }

    #primary-menu {
      padding-top: calc($header-height-tablet + $menu-top-padding-mobile);

      li {
        padding-left: 40px;

        a { 
          @include fontSize(30, 50, 500); 
          height: 40px;
          &.secondary-link::after { top: 0px; }
        }

        .secondary-menu {
          margin-top: $header-height-tablet;
          width: 50%;
          right: 0;
          a { height: auto; }
        }
      }
    }

    #menu-footer { display: none; }
  }

  #header.show-search-pane #menu {
    #primary-menu {
      padding-top: calc($header-height-tablet + $yellow-header-height + $menu-top-padding-mobile);

      li .secondary-menu {
        margin-top: calc($header-height-tablet + $yellow-header-height);
      }
    }
  }
  // On mobile, the country pane is wider than search
  #header.show-country-pane #menu {
    #menu-image {
      margin-top: $yellow-header-height-tablet;
      height: $header-height-tablet;
    }

    #primary-menu {
      padding-top: calc($header-height-tablet + $yellow-header-height-tablet + $menu-top-padding-mobile);

      li .secondary-menu {
        margin-top: calc($header-height-tablet + $yellow-header-height-tablet);
      }
    }
  }
}

@media (max-width: 550px) {
  #menu {
    #primary-menu li {
      .secondary-menu {
        width: 100% !important;

        a.back {
          display: block;
          margin-left: 30px;
          @include fontSize(30, 50, 500);
        }

        li {
          padding-left: 30px;
          padding-right: 30px;

          a {
            @include fontSize(17, 23, 500, -0.24);
          }
        }
      }

      &:not(.show) .secondary-menu {
        right: -100%;
      }
    }
  }
}