.block-hero.post-hero {
  position: relative;
  min-height: 500px;
  padding-top: 125px;
  padding-bottom: 60px;
  z-index: 2;

  .title-ctn { 
    padding: 0 100px; 

    .title { padding: 50px 0 40px; }

    .category {  
      @include fontSize(18, 24, 500, 0.36);
      
      &::after {
        position: relative;
        top: -2px;
        margin: 0 16px;
        @extend .icomoon;
        content: "\e90e";
        font-size: 6px;
        opacity: 0.6;
      }
    }
  
    .date {
      @include fontSize(16, 22, 500, 0.32);
      opacity: 0.6;
    }
  
    .tags { @include flex(center, flex-start); }
  }

  @media (max-width: 1300px) {
    .title-ctn { padding: 0 20px; }
  }
}