.share-ctn {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  margin: 140px 0 80px;

  p {
    width: 100%;
    margin: 0;
    padding-bottom: 6px;
    border-bottom: 1px solid $borderColor;
    color: #AAA;
  }

  .st-btn {
    padding: 0 5px !important;
    background: none !important;
    transition: $basicTransition;

    &:hover { 
      top: 0 !important;
      opacity: 1 !important;
    }
  }
}