#side-panel-ctn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  overflow: hidden;
  transition: $basicTransition;
  transition-delay: 0ms;
  opacity: 1;

  #panel-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($blue, 0.7);
    transition: all 0.7s ease-out;
    transition-delay: 100ms;
  }

  #panel-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 80vw;
    height: 100%;
    padding: 40px 60px;
    background-color: white;
    transition: all 0.6s ease-out;
    transition-delay: 600ms;

    #panel-header {
      @include flex(center, space-between);
      margin-bottom: 40px;
      padding-bottom: 26px;
      border-bottom: 1px solid $borderColor;
      
      #panel-prev { margin-right: 10px; }
      #panel-close { 
        margin: 0 0 0 auto; 
        font-size: 44px;
        cursor: pointer;
        i { transition: $basicTransition; }
        &:hover i { color: $yellow; }
      }
    }

    #panel-body {
      .case-studies {
        position: relative;
        margin-top: 50px;
        border-top: 1px solid $borderColor;

        .link { 
          position: absolute;
          right: 0px;
          top: 45px;
        }
      }
    }
  }

  &:not(.show) {
    opacity: 0;
    pointer-events: none;

    #panel-overlay, #panel-content { right: -100%; }
  }

  &.-shown {
    transition-delay: 600ms;
    #panel-overlay { transition-delay: 200ms; }
    #panel-content { transition-delay: 0ms; }
  }

  @media (max-width: $tablet-large) {
    #panel-content { width: 100vw; }
  }

  @media (max-width: $tablet) {
    #panel-content { 
      width: 100vw; 

      #panel-body {
        .case-studies .link { 
          position: relative;
          top: 0;
          margin-bottom: 30px;
        }
      }
    }
  }

  @media (max-width: $mobile-large) {
    #panel-content { padding: 20px; }
  }
}