.color-block {
  margin-bottom: 80px;
  padding: 60px 65px;

  &.yellow {
    background-color: $yellow;
    color: $darkergrey;
  }

  &.blue {
    background-color: $blue;
    color: white;
  }
}

.wp-block-columns .color-block {
  padding-right: 30px;
  padding-left: 30px;
}

@media (max-width: $tablet-large) {
  .wp-block-columns {
    flex-direction: column;
    .wp-block-column { margin: 0 !important; }
  }
}