.wp-block-quote {
  margin-left: 20px;
  padding: 30px 0;
  font-style: italic;
  opacity: 0.7;
  p { font-size: 115%; }
}
  
.wp-block-image.size-full {
  position: relative;
  margin: 40px 0;
  display: flex;
  flex-direction: column-reverse;

  img { width: 100%; }

  figcaption {
    margin: 0;
    padding: 20px 35px;
    background-color: $yellow;
    color: $blue;
    @include fontSize(26, 30, 600);
  }
  
  @media (max-width: $tablet) {
    figcaption {
      @include fontSize(16, 24, 500);
    }
  }
}