.wp-block-quote {
  margin-left: 20px;
  padding: 30px 0;
  font-style: italic;
  opacity: 0.7;
  p { font-size: 115%; }
}
  
.wp-block-image.size-full {
  position: relative;
  margin: 40px 0;
  display: flex;
  flex-direction: column-reverse;

  img { width: 100%; }

  figcaption {
    margin: 0;
    padding: 20px 35px;
    background-color: $yellow;
    color: $darkergrey;
    @include fontSize(26, 30, 600);
  }
  
  @media (max-width: $tablet) {
    figcaption {
      @include fontSize(16, 24, 500);
    }
  }
}

.wp-block-embed__wrapper {
  position: relative;
  margin: 50px auto;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.gutenberg-content {
  // Regular link
  a:not(.btn), a span {
    text-decoration: none;
    color: $darkyellow;
    font-weight: 500;
    transition: $basicTransition;
    
    &:hover { color: $blue; }
  }

  .has-yellow-background-color { 
    background-color: $yellow;
    a, a span { 
      color: $blue;
      text-decoration: underline;
    }
  }

  .has-blue-background-color { background-color: $blue; }
  .has-grey-background-color { background-color: $darkgrey; }
  .has-light-background-color { background-color: $lightgrey; }

  .has-yellow-color { color: $yellow; }
  .has-blue-color { color: $blue; }
  .has-grey-color { color: $darkgrey; }
  .has-light-color { color: $lightgrey; }
}