.wp-block-image.size-full {
  position: relative;
  margin: 40px 0;

  img { width: 100%; }

  figcaption {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 20px 35px;
    background-color: $yellow;
    color: $blue;
    @include fontSize(26, 30, 600);
  }
  
  @media (max-width: $tablet) {
    figcaption {
      @include fontSize(16, 24, 500);
    }
  }
}