.content-slider-ctn {
  @extend .slider;
  
  .swiper-slide {
    max-height: 600px;

    .caption {
      position: absolute;
      bottom: 0;
      width: 40%;
      padding: 40px;
      background-color: $blue;
      color: white;
      @include fontSize(17, 25, 400, -0.34);
    }
  }

  .swiper-navigation div {
    &.next {
      right: -30px;
    }
  }
}