.gutenberg-slider-multiple {
  @extend .wrapper;
  @extend .blue;
  padding: 100px 0;

  .slider-ctn { @extend .no-overflow; }

  h2 {
    margin: 0 0 50px;
    @include fontSize(42, 38);
    color: white;
  }

  .swiper-slide {
    .caption {
      padding: 10px 0;
      color: white;
      @include fontSize(14, 25, 400, -0.28);
      opacity: 0.7;
    }
  }

  // Non-modal
  .slider-container {
    .swiper-slide {
      &::after { 
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        @extend .icomoon;
        content: "\e90c";
        font-size: 50px;
        z-index: 2;
        opacity: 0;
        transition: $basicTransition;
        color: white;
      }

      &:hover {
        img { opacity: 0.5; }
        &::after { opacity: 1; }
      }
    }
  }
}

.gutenberg-slider-modal { display: none; }

body.modal-open {
  overflow: hidden;

  .gutenberg-slider-modal {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    padding: 150px;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(black, 0.5);
    }

    .slider-ctn {
      height: 100%;

      .slider-slides, .swiper-container { height: 100%; }
      .swiper-navigation { top: 50%; }

      .swiper-slide {
        img { height: 100%; }

        .caption { 
          position: relative;
          top: -6px;
          padding: 20px;
          background-color: $yellow;
        }
      }
    }

    @media (max-width: $tablet-large) {
      padding: 150px 50px;
      .slider-ctn { max-height: 450px; }
    }

    @media (max-width: 575px) {
      padding-left: 20px;
      padding-right: 20px;
      .slider-ctn { max-height: 300px; }
    }
  }
}