.gutenberg-slider-multiple {
  @extend .wrapper;
  @extend .blue;
  padding: 100px 0;

  .slider-ctn { @extend .no-overflow; }

  h2 {
    margin: 0 0 50px;
    @include fontSize(42, 38);
    color: white;
  }

  .swiper-slide {
    .caption {
      padding: 10px 0;
      color: white;
      @include fontSize(14, 25, 400, -0.28);
      opacity: 0.7;
    }
  }
}