<div class="container block-cta {{ mirror ? 'mirror' : '' }}">
  {% set tImage = TimberImage(image) %}

  {% include 'partials/common/block-item.twig' with {
    surtitle: surtitle,
    title: title,
    description: description,
    image: tImage,
    class: 'horizontal static ' ~ (mirror ? 'reverse' : ''),
    delay: 200
  } %}

  <div class="btn-ctn">
    <a data-aos="fade-up" data-aos-delay="100" href="{{ buttonUrl }}" class="circle btn">{{ buttonTitle }}</a>
  </div>
</div>