<div class="container block-cta {{ mirror ? 'mirror' : '' }}">
  {% set tImage = TimberImage(image) %}

  {% include 'partials/common/block-item.twig' with {
    surtitle: surtitle,
    title: title,
    description: description,
    image: tImage,
    class: 'horizontal static ' ~ (mirror ? 'reverse' : ''),
    delay: 100
  } %}

  <div data-aos="fade-up" data-aos-delay="300"><a href="{{ buttonUrl }}" class="circle btn">{{ buttonTitle }}</a></div>
</div>