<div class="contact-cta">
  <div class="container">
    <div id="cta-spinner">
      <img src="{{ theme.link }}/assets/images/ui/spinner.png" alt="">
    </div>

    <div class="title" data-aos="fade-up" data-aos-delay="300">
      {{ cta_contact.title }}
    </div>

    <div data-aos="fade-up" data-aos-delay="300">
      <a href="{{ cta_contact.button.url }}" class="btn">
        {{ cta_contact.button.title }}
      </a>
    </div>

  </div>
</div>