<div class="container">
  <h2 data-aos="fade-up" data-aos-delay="400">{{ __('No posts found', 'ecosystem-energy') }}</h2>
  <p data-aos="fade-up" data-aos-delay="600">{{ __('Please try again with different filters', 'ecosystem-energy') }}</p>
</div>