{% block content %}

  {% if featured %}
    <div class="container">
      {% include 'partials/block-item.twig' with { 
        title: featured.title,
        section: featured.meta('related_industry')[0].post_title,
        description: featured.preview.read_more(false),
        url: featured.link,
        image: featured.thumbnail,
        isFeatured: true
      } %}
    </div>
  {% endif %}

  <div class="container">
	  <div class="block-list">
      {% for cs in items %}
      
        {% include 'partials/block-item.twig' with { 
          title: cs.title,
          section: cs.meta('related_industry')[0].post_title,
          description: cs.preview.read_more(false),
          url: cs.link,
          image: cs.thumbnail
        } %}

      {% endfor %}
	  </div>
	</div>

  {% include 'partials/lists/pagination.twig' with { 'elements': items.pagination(5) } %}

{% endblock %}
