{% block content %}

  {% if featured_content %}
    <div class="large container">
      {% include 'partials/block-item.twig' with { 
        title: featured_content.title,
        surtitle: featured_content.meta('related_industry')[0].post_title,
        footer: featured_content.post_date|date("F d, Y"),
        url: featured_content.link,
        image: featured_content.thumbnail,
        class: 'featured'
      } %}
    </div>
  {% endif %}

  <div class="large container">
	  <div class="block-list">
      {% for perspective in items %}
      
        {% include 'partials/block-item.twig' with { 
          title: perspective.title,
          surtitle: perspective.meta('related_industry')[0].post_title,
          footer: perspective.post_date|date("F d, Y"),
          url: perspective.link,
          image: perspective.thumbnail,
          class: 'text-padding'
        } %}

      {% endfor %}
	  </div>
	</div>

  {% include 'partials/lists/pagination.twig' with { 'elements': items.pagination(5) } %}

{% endblock %}
