.btn {
  @include flex();
  width: max-content;
  min-height: 57px;
  padding: 10px 55px;
  background-color: $yellow;
  border: 0px none;
  border-radius: 28.5px;
  @include fontSize(20, 27, 600);
  color: $darkgrey;
  transition: $buttonTransition;
  cursor: pointer;

  &.blue {
    background-color: $blue;
    color: $yellow;

    &:hover {
      color: white;
    }
  }

  &.transparent {
      background: none;
      border: 1px solid rgba(73, 72, 67, 0.4);
  }

  &.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  &:hover {
    background-color: $blue;
    color: $yellow;
  }
}