.btn {
  position: relative;
  @include flex();
  width: max-content;
  min-height: 57px;
  padding: 10px 55px;
  background-color: $yellow;
  border: 0px none;
  border-radius: 28.5px;
  @include fontSize(20, 27, 600);
  color: $darkgrey;
  transition: $buttonTransition;
  cursor: pointer;

  // Hidden dot
  &::after {
    position: absolute;
    right: 0px;
    transition: $basicTransition;
    font-family: 'icomoon' !important;
    content: "\e905";
    opacity: 0;
  }

  // Blue button in top yellow bar
  &.blue {
    background-color: $blue;
    color: white;

    &:hover {
      color: $yellow;
    }
  }

  &.transparent {
      background: none;
      border: 1px solid rgba(73, 72, 67, 0.4);
  }

  &.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;

    &:hover {
      scale: 1.1;
      background-color: $yellow;
      color: $blue;
      &::after { display: none; }
    }
  }

  &:not(.circle):hover {
    padding-left: 40px;
    padding-right: 70px;

    &::after {
      right: 30px;
      opacity: 1;
    }
  }
}