html {
  scroll-behavior: smooth;
}

body {
  @include fontSize(19, 29, 400, -0.4);

  &.menu-open {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}

* {
  font-family: $primaryFont;
  color: $textColor;
}

h1 {
  @include fontSize(62, 62, 600, -0.9);
  &.inverted {
    color: white;
    letter-spacing: -1.25px;
  }
}

h2 {
  @include fontSize(42, 48);
}

h3 {
  @include fontSize(26, 34, 600);
}

p {
  @include fontSize(19, 29, 400, -0.38);
}

@media (max-width: $mobile) {
  body {
    @include fontSize(16, 25, 400, -0.3);
  }

  h1 {
    @include fontSize(46, 50, 600, -0.5);
  }

  h2 {
    @include fontSize(24, 29);
  }

  h3 {
    @include fontSize(22, 27);
  }

  p {
  	@include fontSize(14,22);
  }
}

b,
strong {
  font-weight: 700;
}

a {
  transition: $basicTransition;
}

hr {
  margin: 75px 0;
  color: rgba($darkgrey, 0.2);
}

ul {
  list-style: circle;
}

// CUSTOM

// Page overrides
.page-container.grey {
  background-color: $lightgrey;
}

// Prevent background logo to push page boundaries
.page {
  overflow: hidden;
}

// 
.wrapper {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;

  &.grey { background-color: $lightgrey; }

  &.blue { background-color: $blue; }

  &.beige { background-color: $beige; }

  // Yellow icon in background
  &.bg-icon::after { 
    position: absolute;
    right: -150px;
    bottom: 50px;
    @extend .icomoon;
    content: "\e902";
    font-size: 300px;
    color: $yellow;

    @media (max-width: $tablet-large) {
      bottom: -100px;
    }
  }
}

// Extendable icomoon
.icomoon {
  font-family: 'icomoon' !important;
  font-weight: 400 !important;
}

// Extendable wrapper class for js swipers
.slider {
  position: relative;
  // padding: 100px 0;

  .swiper-container { overflow: hidden; }

  .swiper-slide {
    height: auto;

    .surtitle {
      margin-top: 10px;
      @include fontSize(14, 19);
      color: $yellow;
    }

    .title {
      margin-top: 20px;
      @include fontSize(24, 30);
      color: white;
      transition: $basicTransition; 
    }
    
    img { 
      width: 100%;
      height: 220px;
      object-fit: cover;
      transition: $basicTransition;
      opacity: 1;
    }

    &:hover {
      img { opacity: 0.5; }
      .title { color: $yellow !important; }
    }
  }

  .swiper-navigation {
    @include flex();
    position: absolute;
    top: 32%;
    width: 100%;
    height: 0;
    z-index: 2;
    pointer-events: none;

    div {
      @include flex();
      @extend .icomoon;
      position: absolute;
      background-color: $yellow;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      transition: $basicTransition;
      cursor: pointer;
      pointer-events: all !important;

      &:hover { 
        background-color: $blue;
        color: white;
      }
    }

    .prev {
      @extend .icon-small-arrow-left;
      left: -100px;
    }

    .next {
      @extend .icon-small-arrow-right;
      right: -100px;
    }

    .swiper-button-disabled, .swiper-button-disabled:hover { 
      background-color: $darkblue; 
      pointer-events: none !important; 
    }
  }

  @media (max-width: 1360px) {
    .swiper-navigation { 
      .prev { left: 20px; }
      .next { right: 20px; }
    }
  }
}

// TEMP - Hide annoying WP top bar
#wpadminbar { display: none !important; }