html {
  scroll-behavior: smooth;
}

body {
  @include fontSize(17, 27, 400, -0.4);

  &.menu-open {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}

* {
  font-family: $primaryFont;
  color: $textColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @include fontSize(58, 62, 600, -0.9);
  &.inverted {
    color: white;
    letter-spacing: -1.25px;
  }
}

h2 {
  margin-top: 20px;
  @include fontSize(38, 44);
}

h3 {
  @include fontSize(26, 34, 600);
}

p {
  @include fontSize(17, 27, 400, -0.38);
}

@media (max-width: $mobile) {
  body {
    @include fontSize(16, 25, 400, -0.3);
  }

  h1 {
    @include fontSize(46, 50, 600, -0.5);
  }

  h2 {
    @include fontSize(30, 36);
  }

  h3 {
    @include fontSize(22, 27);
  }

  p {
  	@include fontSize(14, 22);
  }
}

b,
strong {
  font-weight: 700;
}

a {
  transition: $basicTransition;
}

hr {
  margin: 75px 0;
  color: rgba($darkgrey, 0.2);
}

ul {
  padding-left: 18px;
  list-style: disc;

  li {
    padding-left: 22px;
    padding-bottom: 10px;
  }
}

sup { color: inherit; }

// Increase global paragraph size on large devices
@media (min-width: $desktop-large) {
  body { @include fontSize(19, 29, 400, -0.4); }
  p { @include fontSize(19, 29); }
}
