html {
  scroll-behavior: smooth;
}

body {
  @include fontSize(19, 29, 400, -0.4);

  &.menu-open {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}

* {
  font-family: $primaryFont;
  color: $textColor;
}

h1 {
  @include fontSize(62, 62, 600, -0.9);
  &.inverted {
    color: white;
    letter-spacing: -1.25px;
  }
}

h2 {
  @include fontSize(42, 38);
}

h3 {
  @include fontSize(26, 34, 600);
}

p {
  @include fontSize(19, 29, 400, -0.38);
}

@media (max-width: $mobile) {
  body {
    @include fontSize(16, 25, 400, -0.3);
  }

  h1 {
    @include fontSize(46, 50, 600, -0.5);
  }

  h2 {
    @include fontSize(24, 29);
  }

  h3 {
    @include fontSize(22, 27);
  }

  p {
  	@include fontSize(14,22);
  }
}

b,
strong {
  font-weight: 700;
}

a {
  transition: $basicTransition;
}

hr {
  margin: 75px 0;
  color: rgba($darkgrey, 0.2);
}

ul {
  list-style: circle;
}

// CUSTOM

// Page overrides
.page-container.grey {
  background-color: $lightgrey;
}

.wrapper {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;

  &.blue { background-color: $blue; }

  // Yellow icon in background
  &.bg-icon::after { 
    position: absolute;
    right: -150px;
    bottom: 50px;
    @extend .icomoon;
    content: "\e902";
    font-size: 300px;
    color: $yellow;

    @media (max-width: $tablet-large) {
      bottom: -100px;
    }
  }
}

// 
.icomoon {
  font-family: 'icomoon' !important;
}

.slider {
  position: relative;

  .swiper-container { overflow: hidden; }

  .swiper-slide {
    height: auto;
    
    img { 
      width: 100%;
      height: 220px;
      object-fit: cover;
    }
  }

  .swiper-navigation {
    @include flex();
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    div {
      @include flex();
      @extend .icomoon;
      position: absolute;
      background-color: $yellow;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      transition: $basicTransition;
      cursor: pointer;

      &:hover { 
        background-color: $blue;
        color: white;
      }

      &.prev {
        @extend .icon-small-arrow-left;
        left: -30px;
      }
      &.next {
        @extend .icon-small-arrow-right;
        right: 0;
      }
    }

    .swiper-button-disabled, .swiper-button-disabled:hover { background-color: $darkblue; pointer-events: none; }
  }
}

#wpadminbar { display: none !important; }