// Common
a.link {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  @include fontSize(19, 26, 600);
  color: $textColor;
  cursor: pointer;

  &::after,
  &::before {
    position: relative;
    @extend .icomoon;
    @include fontSize(15, 20, 400);
    margin-left: 6px;
    color: $yellow;
    // transition: $linkTransition;
  }

  &:hover,
  &:hover::after,
  &:hover::before {
    color: $yellow;
  }

  // ----- Specific link types

  &.internal {
    &::after {
      content: "\e90e";
    }
  }

  &.external {
    &::after {
      content: "\e910";
    }
  }

  &.download {
    &::after {
      content: "\e90f";
    }
  }

  &.video {
    &::after {
      content: "\e911";
    }
  }
}