.tag {
  @include flex();
  width: max-content;
  min-height: 40px;
  margin-right: 8px;
  padding: 8px 20px;
  background: none;
  border: 1px solid rgba($darkgrey, 0.4);
  border-radius: 20px;
  @include fontSize(15, 21, 500, -0.3);
  color: $darkgrey;
  transition: $buttonTransition;

  &.selected {
    background-color: $yellow;
    color: $darkergrey;
  }
}