<div class="page-title">
  <div class="container {{ large ? 'large' : '' }}">

    {# <div class="upper-title">{{ upper }}</div> #}
    <h1 class="main-title">{{ title }}</h1>
    
    <div class="content">
      <div class="text">{{ text }}</div>
      {% if not hideFilters %} <a id="toggle-filters" class="btn">Filtres</a> {% endif %}
    </div>

  </div>
</div>