/**
* Style only call in Administration
*/

.icomoon {
  font-family: 'icomoon' !important;
  font-weight: 400 !important;
}

@import "configs/mixins";
@import "configs/variables";
@import "configs/icons";
@import "commons/buttons";
@import "commons/links";

.editor-styles-wrapper {
  font-family: $primaryFont !important;
  color: $textColor !important;
  font-size: 17px;
  line-height: normal;

  .wp-block {
    max-width: 80% !important;
  }

  .btn, .link {
    color: $darkgrey !important;
    text-decoration: none !important;
  }

  hr { width: 100% !important; }

  .editor-post-title {
    .editor-post-title__input {
      font-family: $primaryFont !important;
      color: $textColor !important;
    }
  }

  .color-block {
    padding: 20px;
    &.yellow { background-color: $yellow; }
    &.blue { background-color: $blue; color: white; }
  }

  .wp-block-quote {
    padding-top: 30px;
    @include fontSize(24, 30);
    font-style: italic;
    color: rgba($darkgrey, 0.6);
  }

  .wp-block-image {
    @include flex();
    flex-direction: column-reverse;
    margin: 60px auto;

    &.size-full > div { width: 100% !important; }

    figcaption {
      margin: 0;
      padding: 20px;
      background-color: $yellow;
      @include fontSize(18, 24, 500);
      text-align: left;
      color: $blue;
    }
  }

  // Data blocks
  .content-key-data-ctn {
    @include flex(center, space-between);
    .title { @include fontSize(22, 30); }
    .value { @include fontSize(35, 48, 500); }
  }

  // Sliders
  .gutenberg-slider-single {
    margin: 60px auto;

    .slider-slides {
      .swiper-wrapper {
        .swiper-slide:not(:first-child) { display: none; }
      }
    }
  }
  .gutenberg-slider-multiple {
    background-color: $blue;
    margin: 60px auto;
    padding: 70px 30px;

    * { color: white; }

    .slider-slides {
      .swiper-wrapper {
        @include flex(flex-start, space-between);

        .swiper-slide { 
          flex: 0 0 30%; 

          img { 
            width: 100%;
            height: 240px; 
            object-fit: cover;
          }
        }

        .swiper-slide:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) { display: none; }
      }
    }
  }

  // Accordion
  .content-accordion-ctn {
    background-color: $lightgrey;
    padding: 20px 30px;

    .title {
      display: flex;
      @include fontSize(22, 34, 500);
      .plus { margin: 0 20px 0 auto; }
    }
  }
}