/**
* Style only call in Administration
*/
// @import "configs/reset";
@import "configs/mixins";
@import "configs/variables";
@import "configs/icons";
// @import "configs/grid";
// @import "commons/global";
// @import "commons/buttons";
// @import "commons/links";

.editor-post-title {
  .editor-post-title__input {
    font-family: $primaryFont !important;
    color: $textColor !important;
  }
}

.wp-block {
  max-width: 80% !important;
}

.editor-styles-wrapper {
  font-family: $primaryFont !important;
  color: $textColor !important;
  font-size: 19px;
  line-height: normal;

  hr { width: 100% !important; }

  .color-block {
    padding: 20px;
    &.yellow { background-color: $yellow; }
    &.blue { background-color: $blue; color: white; }
  }

//   h1,
//   h2,
//   h3,
//   h4,
//   h5 {
//     font-weight: bold !important;
//     color: $textColor !important;
//   }

//   /*** Block Boutons ***/

//   .wp-block-button__link {}


//   /*** Block Custom Gallery ***/

//   .custom-gallery-ctn {
//     max-width: 100%;
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     margin: 20px 0;

//     .part-gallery {
//       width: calc(50% - 20px);

//       .img-ctn {
//         width: 100%;

//         img {
//           width: 100%;
//         }
//       }

//       &.part-2 {
//         margin-left: 40px;

//         .img-ctn:first-child {
//           margin-bottom: 40px;
//         }
//       }
//     }

//   }

//   /*** Block Slider ***/

//   .content-slider-ctn, .content-slider-multiple-ctn {
//     .swiper-wrapper {
//       display: flex;
//       flex-wrap: wrap;

//       .swiper-slide {
//         margin-right: 15px;
//         width: calc(100% / 3 - 10px);

//         &:nth-child(3n) {
//           margin-right: 0;
//         }
//       }
//     }
//   }

//   /*** Block Accordion ***/

//   .content-accordion-ctn {
//     background-color: #E7F0F4;
//     padding: 20px 30px;
//     transition: all 0.5s ease;

//     .title {
//       font-size: 18px;
//       font-weight: 800;
//       color: $textColor;
//       margin: 0;
//       padding-right: 40px;
//       position: relative
//     }

//     .inner {
//       height: 100%;
//       overflow: hidden;
//       transition: all 0.5s ease;

//       div {
//         padding: 15px 0;
//       }
//     }
//   }


//   /*** Block Block ***/

//   .wp-block-quote {}

//   /*** Block File ***/

//   .wp-block-file {
//     display: flex;
//     align-items: center;
//     margin: 20px auto;


//     .wp-block-file__button {}
//   }


}