{% extends 'partials/common/slider.twig' %}

{% block slides %}
  {% for image in fields.slider_images %}
    <div class="static swiper-slide">
      <img src="{{image['sizes']['slider-large']}}" alt="">
      {% if image.caption %}<div class="caption">{{ image.caption }}</div> {% endif %}
    </div>
  {% endfor %}
{% endblock %}