{% set images = fields.slider_images %}

{% if images %}
	<div class="content-slider-ctn">
    {% if fields.title %} <h2>{{ fields.title }}</h2> {% endif %}

		<div class="swiper-container">
			<div class="swiper-wrapper">
      
				{% for image in images %}
					<div class="swiper-slide slide-img">
						<img src="{{ image['sizes']['slider-large'] }}" alt="">
            {% if image.caption %}<div class="caption">{{ image.caption }}</div> {% endif %}
					</div>
				{% endfor %}

			</div>
			<div class="swiper-pagination"></div>
		</div>

		<div class="swiper-navigation">
			<div class="prev"></div>
			<div class="next"></div>
		</div>

	</div>
{% endif %}
