<div class="content-accordion-ctn">
  <div class="title">
    {{ fields.title }}
    <i class="icon-filter plus"></i>
    <i class="icon-close-small minus"></i>
  </div>

  <div class="content">
    {{ fields.content }}
  </div>
</div>