<div class="content-accordion-ctn">
  <div class="title">
    {{ fields.title }}
    <i class="icon-accordeon-plus plus"></i>
    <i class="icon-accordeon-minus minus"></i>
  </div>

  <div class="content">
    {{ fields.content }}
  </div>
</div>