{% extends 'partials/common/slider.twig' %}

{% if fields.title %} 
  {% block title %} <h2>{{ fields.title }}</h2> {% endblock %}
{% endif %}

{% block slides %}
  {% for image in fields.slider_images %}
    <div class="static swiper-slide">
      <img src="{{image['sizes']['slider-large']}}" alt="">
      {% if image.caption %}<div class="caption">{{ image.caption }}</div> {% endif %}
    </div>
  {% endfor %}
{% endblock %}