{# Since this component is full-width, the previous container tag must be closed beforehand #}
</div> 

<div class="gutenberg-slider-multiple">
  <div class="container slider-container">
    {% include 'blocks/content-slider-multiple-inner.twig' %}
  </div>

  <div class="gutenberg-slider-modal">
    <a class="slider-close"></a>
    <div class="overlay"></div>
    {% include 'blocks/content-slider-multiple-modal.twig' %}
  </div>
</div>

{# The regular container tag is re-opened afterwards #}
<div class="container">