<footer id="footer">
  <div class="large container">

    <nav class="social">
      <a>FB</a>
      <a>IG</a>
      <a>LI</a>
      <a>TW</a>
    </nav>

    <nav class="contact">
      <a>ecosystem@email.com</a>
      <a>(514)123-4567</a>
    </nav>

    <div class="sub-footer">
      <div class="copyright">Copyright ...</div>
      <div class="kryzalid">Conception web par Kryzalid</div>
    </div>
    
  </div>
</footer>