<div class="container">
  <form id="ajax-form">
    <input type="hidden" id="ajax-settings" data-url="/ajax/{{ current_lang }}/case-studies" data-limit="1">

    <input type="checkbox" name="industries" value="57" />
    <input type="checkbox" name="industries" value="58" />
    <input type="checkbox" name="industries" value="59" />
    <input type="checkbox" name="industries" value="60" />
  </form>
</div>