<div class="container">
  <form id="ajax-form">
    <input type="hidden" id="ajax-settings" data-url="/ajax/{{ current_lang }}/case-studies" data-limit="1">
    {% for indus in industries %}
      <label>{{ indus.name }}
        <input type="checkbox" name="industries" value="{{ indus.term_id }}" />
      </label>
    {% endfor %}
  </form>
</div>