{% block content %}
	<div class="block-list">
    <div class="container grid">
      {% for cs in items %}
      
        {% include 'partials/block-item.twig' with { 
          title: cs.title,
          section: cs.meta('related_industry')[0].post_title,
          description: cs.preview.read_more(false),
          url: cs.link,
          image: cs.thumbnail
        } %}

      {% endfor %}
	  </div>
	</div>
{% endblock %}
