@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?p0fx7a');
  src:  url('../fonts/icomoon.eot?p0fx7a#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?p0fx7a') format('truetype'),
    url('../fonts/icomoon.woff?p0fx7a') format('woff'),
    url('../fonts/icomoon.svg?p0fx7a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-accordeon-minus:before {
  content: "\e901";
}
.icon-accordeon-plus:before {
  content: "\e90c";
}
.icon-awards-small:before {
  content: "\e90d";
}
.icon-link-cercle:before {
  content: "\e90e";
}
.icon-link-download:before {
  content: "\e90f";
}
.icon-link-external:before {
  content: "\e910";
}
.icon-link-video:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e912";
}
.icon-print:before {
  content: "\e913";
}
.icon-topright-arrow:before {
  content: "\e914";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-awards:before {
  content: "\e900";
}
.icon-symbol-eco:before {
  content: "\e902";
}
.icon-close-medium:before {
  content: "\e904";
}
.icon-close-small:before {
  content: "\e905";
}
.icon-filter-close:before {
  content: "\e906";
}
.icon-filter:before {
  content: "\e907";
}
.icon-position-pin:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-small-arrow-left:before {
  content: "\e90a";
}
.icon-small-arrow-right:before {
  content: "\e90b";
}
