// Colors
$blue: #242C3E;       // Regular blue
$altblue: #2A3244;    // Used in menu
$yellow: #FAB900;     // Regular yellow
$darkgrey: #494843;   // Mostly text color
$lightgrey: #F6F6F4;  // Page background color
$beige: #FCF9F0;
$textColor: $darkgrey;
$borderColor: rgba($darkgrey, 0.2);

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
$primaryFont: 'Manrope', serif;

// Transitions
$basicTransition: all 0.4s ease;
$buttonTransition: all 0.4s ease;

// Responsive
$tablet-large: 992px;
$tablet: 768px;
$mobile: 425px;
$xs-mobile: 320px;

//
$header-height: 125px;
$header-height-tablet: 170px;
$upper-header-height: 90px;
$upper-header-height-tablet: 250px;