// Colors
$blue: #242C3E;
$altblue: #2A3244;
$yellow: #FAB900;
$darkgrey: #494843;
$lightgrey: #F6F6F4;

$textColor: $darkgrey;
$borderColor: rgba($darkgrey, 0.2);

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');
$primaryFont: 'Manrope', serif;

// Transitions
$basicTransition: all 0.4s ease;
$buttonTransition: all 0.4s ease;

// Responsive
$tablet-large: 992px;
$tablet: 768px;
$mobile: 425px;
$xs-mobile: 320px;

//
$header-height: 90px;