// Colors
$blue: #242C3E;       // Regular blue
$darkblue: #1D2435;   // Darker blue
$altblue: #2A3244;    // Used in menu
$yellow: #FAB900;     // Regular yellow
$darkyellow: #E7AD09; // Hover yellow
$darkgrey: #494843;   // Mostly text color
$darkergrey: #2A2926; // Yellow bg text color
$lightgrey: #F6F6F4;  // Page background color
$beige: #FCF9F0;      // Some bottom page color

$textColor: $darkgrey;
$borderColor: rgba($darkgrey, 0.2);

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
$primaryFont: 'Manrope', sans-serif;

// Transitions
$basicTransition: all 0.4s ease;
$buttonTransition: all 0.4s ease;
$linkTransition: all 0.2s ease;

// Responsive
$tablet-large: 992px;
$tablet: 768px;
$mobile-large: 500px;
$mobile: 425px;
$xs-mobile: 350px;

//
$header-height: 125px;
$header-height-tablet: 170px;
$upper-header-height: 90px;
$upper-header-height-tablet: 250px;