#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  // All links
  a, a i {
    cursor: pointer;
    transition: $basicTransition;

    &[id$="-close"] {
      opacity: 1;
      &:hover { opacity: 0.4; }
    }
  }

  // Extendable class for top yellow panes
  .yellow-pane {
    position: relative;
    @include flex();
    width: 100%;
    height: $upper-header-height;
    padding: 0 30px;
    background-color: $yellow;
    transition: $basicTransition;
    overflow: hidden;
  }

  // Top yellow search field
  #search-pane {
    @extend .yellow-pane;
    z-index: 900;

    a { height: 40%; }

    input {
      width: 100%;
      height: 100%;
      padding: 0;
      border: 0 none;
      background: none;
      @include fontSize(62, 85);

      &:focus, &:focus-visible { outline: none; }
    }
  }

  // Top yellow country toggler 
  #country-pane {
    @extend .yellow-pane;
    justify-content: space-between;
    z-index: 901;

    p { 
      margin: 0;
      line-height: 24px; 
    }

    .content { @include flex(); }

    .btn { margin: 0 34px 0 auto; }

    #country-close {
      position: absolute;
      right: 30px;
      top: 30px;
    }

    .countries {
      @include flex();
      gap: 10px 45px;
      margin: 0 30px;

      label { 
        @include flex();
        white-space: nowrap;

        input { 
          position: relative;
          appearance: none;

          &::before, &:checked::after {
            content: '';
            display: block;
            border-radius: 50%;
          }

          // White circle
          &::before {
            width: 28px;
            height: 28px;
            margin-right: 10px;
            background-color: white;
            border: 1px solid white;
            transition: $basicTransition;
          }

          &:hover::before { border-color: $blue; }

          // Blue dot
          &:checked::after {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 16px;
            height: 16px;
            background-color: $blue;
            transition: $basicTransition;
          }
        }
      }
    }
  }

  // Top menu Country / Language / Search togglers
  #main-pane {
    position: relative;
    @include flex();
    height: $header-height;
    padding: 0 40px;
    background-color: white;
    transition: $basicTransition;
    overflow: hidden;

    #logo { 
      z-index: 120; 
      img.invert { display: none; }
    }

    #top-menu {
      position: relative;
      @include flex();
      height: 100%;
      margin-left: auto;
      margin-right: 80px;
      z-index: 800;
      overflow: hidden;

      a {
        padding: 20px;
        @include fontSize(16, 22, 600);

        &:hover, &:hover i { color: $yellow; }
      }
    }
  }

  // Hide panels by default
  &:not(.show-search-pane) #search-pane { height: 0 !important; }
  &:not(.show-country-pane) #country-pane { height: 0 !important; }
  &:not(.show-main-pane) #main-pane { height: 0 !important; }

  // Burger / Close menu icon
  #menu-toggle {
    position: absolute;
    top: 45px;
    right: 50px;
    width: 50px;
    height: 50px;
    z-index: 899;

    span {
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background-color: $darkgrey;
      transform: rotate(0deg);
      transition: transform 0.2s ease-out, top 0.2s ease-out, background-color 0.2s ease-out;
      transition-delay: 600ms, 600ms, 0ms;

      &.bar1 { top: 14px; }
      &.bar2 { top: 22px; }
    }

    &:hover span { background-color: $yellow; }
  }

  @media (max-width: $tablet-large) {
    #country-pane {
      p, label { @include fontSize(16, 20); }

      .content { 
        align-items: flex-start;
        flex-direction: column; 
      }

      .countries {
        margin: 8px 0 0;
      }
    }
  }

  @media (max-width: $tablet) {
    // Move top menu (country / language / search) fullsize under logo
    #main-pane { 
      @include flex(flex-start, flex-start);
      flex-direction: column;
      height: $header-height-tablet;
      padding: 0 20px;

      #logo { margin-top: 8px; }

      #top-menu { 
        display: none; 
        width: 100%;
        margin: 40px 0 0;

        #country-toggle { padding-left: 0; }
        #language-toggle { margin-left: auto; }
      }
    }

    //
    #country-pane {
      @include flex(flex-start, space-evenly);
      flex-direction: column;
      height: $upper-header-height-tablet;

      .btn { margin-right: 0; }
      .content { margin-right: 30px; }
      
      .countries {
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }

    // 
    #menu-toggle { 
      top: 21px; 
      right: 21px; 
    }
  }
  
  // Resize and replace logo
  @media (max-width: $mobile) {
    #main-pane { 
      #logo { 
        width: 180px;
        margin-top: 16px;
      }

      // 
      #top-menu #country-toggle { font-size: 13px; }
    }
  }
}

// White links when menu is open
body.menu-open #header {
  // Switch logo version when menu is open
  #main-pane {
    a, a i { color: white; }

    #logo { 
      img.normal { display: none; }
      img.invert { display: block; }
    }
  }

  // Turn menu burger icon into X
  #menu-toggle {
    span { 
      top: 18px; 
      background-color: $yellow;
      &.bar1 { transform: rotate(45deg); }
      &.bar2 { transform: rotate(-45deg); }
    }

    &:hover span { background-color: white; }
  }

  @media (max-width: $tablet) {
    #main-pane { 
      #top-menu { display: flex; }
    }
  }
}

// Set background to grey if set by body class
.page-container.grey #header #main-pane {
  background-color: $lightgrey;
}

// Set background to blue / text to white if set by body class
.page-container.blue-head #header {
  #main-pane {
    background-color: $blue;
    a, a i { color: white; }

    #logo { 
      img.normal { display: none; }
      img.invert { display: block; }
    }
  }

  #menu-toggle {
    span { background-color: white; }
    &:hover span { background-color: $yellow; }
  }
}
