<div class="container block-cta {{ mirror ? 'mirror' : '' }}">
  {% set tImage = TimberImage(image) %}

  {% include 'partials/block-item.twig' with {
    surtitle: surtitle,
    title: title,
    description: description,
    image: tImage,
    class: 'horizontal static ' ~ (mirror ? 'reverse' : '')
  } %}

  <a href="{{ buttonUrl }}" class="circle btn">{{ buttonTitle }}</a>
</div>