<div class="swiper-container">
  <div class="swiper-wrapper">
  
    {% for item in items %}
      <div class="swiper-slide slide-img">
        <img src="{{ item.thumbnail.src('medium') }}" alt="{{ item.thumbnail.title }}">
        <div class="caption">{{ item.title }}</div>
      </div>
    {% endfor %}

  </div>
  <div class="swiper-pagination"></div>
</div>

<div class="swiper-navigation">
  <div class="prev"></div>
  <div class="next"></div>
</div>
