{% block content %}
  
  {% if paged == 1 %}
    {% set featured = items[0] %}
    <div class="large container">
    
      {% include 'partials/common/block-item.twig' with { 
        title: featured.title,
        surtitle: featured.meta('related_industry')[0],
        url: featured.link,
        image: featured.thumbnail,
        class: 'featured reverse',
        delay: 200
      } %}

    </div>
  {% endif %}

  <div class="large container">
	  <div class="block-list">
      {% set allCs = paged == 1 ? items|slice(1) : items %}
      {% for cs in allCs %}
      
        {% include 'partials/common/block-item.twig' with { 
          title: cs.title,
          surtitle: cs.meta('related_industry')[0],
          url: cs.link,
          image: cs.thumbnail,
          class: '',
          delay: 100
        } %}

      {% endfor %}
	  </div>
	</div>

  {% include 'partials/common/pagination.twig' with { 'elements': items.pagination(3) } %}

{% endblock %}
