<div class="contact-cta">
  <div class="container">

    <div class="title">
      For any project or additional information
    </div>

    <a href="" class="btn">
      Contact us
    </a>

  </div>
</div>