<div class="filters">
  <div class="container">
  
    <div class="filter-group">
      <div class="title">Countries</div>
      <a class="tag selected">Canada</a>
      <a class="tag">United states</a>
    </div>

    <div class="filter-group">
      <div class="title">Sectors</div>
      <a class="tag">Education</a>
      <a class="tag selected">Industry</a>
      <a class="tag">Government</a>
    </div>

  </div>
</div>