<header id="header">

  <div class="logo"></div>

  <nav class="top-menu" style="position:relative">
    <a>Country</a>
    <a>Language</a>
    <a>Search</a>
    <a id="menu-toggle">Menu</a>
  </nav>

  {% include 'partials/menu.twig' %}

</header>