<div class="sectors-ctn">
  <div class="title-column" data-aos="fade-up" data-aos-delay="100">
    <h2>{{ sectors.title }}</h2>
    <p>{{ sectors.content }}</p>
  </div>

  <div class="content-column" data-aos="fade-up" data-aos-delay="200">
    {% for industry in industries %}
      <a href="{{ industry.link }}">
        <span>{{ industry.title }}</span>
      </a>
    {% endfor %}
  </div>
</div>