<div id="side-panel-ctn">
  <div id="panel-overlay"></div>

  <div id="panel-content">
    <div id="panel-header">
      <a id="panel-prev" data-id="1" class="small circle btn"><i class="icon-small-arrow-left"></i></a>
      <a id="panel-next" data-id="2" class="small circle btn"><i class="icon-small-arrow-right"></i></a>
      <a id="panel-close" class=""><i class="icon-close-medium"></i></a>
    </div>
    <div id="panel-body"></div>
  </div>
</div>