<div class="leadership-list">
  {% for leader in leaders_list %}

    {% include 'partials/common/block-item.twig' with { 
      title: leader.title,
      description: leader.status,
      image: leader.image ? leader.image : theme.link ~ '/assets/images/ui/leadership-placeholder.jpg',
      class: 'text-padding invert auto-height link-item',
      data_id: loop.index,
      delay: 100 * loop.index
    } %}

    {% include 'partials/leadership-details.twig' %}

  {% endfor %}
</div>
