<div class="leadership-list">
  {% for member in list %}
    {# Prefix is used in both item and details to allow multiple lists with the same ajax mechanics #}
    {% set data_id = prefix ~ '_' ~ loop.index %}

    {% include 'partials/common/block-item.twig' with { 
      title: member.title,
      description: member.status,
      image: member.image ? member.image : theme.link ~ '/assets/images/ui/leadership-placeholder.jpg',
      class: 'text-padding invert auto-height link-item',
      delay: 100
    } %}

    {% include 'partials/leadership-details.twig' %}

  {% endfor %}
</div>
