<div id="menu">
  <ul id="primary-menu">
    <li><a href="">About us</a></li>
    <li>
      <a class="secondary-link">Markets</a>
      <ul class="secondary-menu">
        <li><a class="">Subitem1</a></li>
        <li><a class="">Subitem2</a></li>
        <li><a class="">Subitem3</a></li>
      </ul>
    </li>
    <li><a href="">Case studies</a></li>
    <li><a href="">Expertises</a></li>
    <li><a href="">Perspectives</a></li>
  </ul>
</div>