{% block content %}

  {% set language = lang ? lang : current_lang %}

  {% if featured %}
    <div class="large container">
      {% include 'partials/common/block-item.twig' with { 
        title: featured.title,
        surtitle: featured.meta('related_industry')[0].post_title,
        footer: featured.post_date | date(language == 'en' ? "F d, Y" : "d F Y") | translate_date,
        url: featured.link,
        image: featured.thumbnail,
        class: 'featured text-padding no-plus-hover',
        delay: 100
      } %}
    </div>
  {% endif %}

  <div class="large container">
	  <div class="block-list">
      {% for p in posts %}
      
        {% include 'partials/common/block-item.twig' with { 
          title: p.title,
          surtitle: p.meta('related_industry')[0].post_title,
          footer: p.post_date | date(language == 'en' ? "F d, Y" : "d F Y") | translate_date,
          url: p.link,
          image: p.thumbnail,
          class: 'text-padding white-bg',
          delay: 200
        } %}

      {% endfor %}
	  </div>
	</div>

  {% include 'partials/common/pagination.twig' with { 'elements': posts.pagination(3) } %}

{% endblock %}
