{% block content %}

  {% if featured %}
    <div class="large container">
      {% include 'partials/block-item.twig' with { 
        title: featured.title,
        surtitle: featured.meta('related_industry')[0].post_title,
        footer: featured.post_date|date("F d, Y"),
        url: featured.link,
        image: featured.thumbnail,
        class: 'featured text-padding'
      } %}
    </div>
  {% endif %}

  <div class="large container">
	  <div class="block-list">
      {% for p in posts %}
      
        {% include 'partials/block-item.twig' with { 
          title: p.title,
          surtitle: p.meta('related_industry')[0].post_title,
          footer: p.post_date|date("F d, Y"),
          url: p.link,
          image: p.thumbnail,
          class: 'text-padding'
        } %}

      {% endfor %}
	  </div>
	</div>

  {% include 'partials/lists/pagination.twig' with { 'elements': posts.pagination(5) } %}

{% endblock %}
