<div class="page-title">
  <div class="container">

    {# <div class="upper-title">{{ upper }}</div> #}
    <h1 class="main-title">{{ title }}</h1>
    
    <div class="content">
      <div class="text">{{ text }}</div>
      <a id="toggle-filters" class="btn">Filtres</a>
    </div>

  </div>
</div>