{% if elements.pages %}
	<nav id="ajax-pagination">
    {% for page in elements.pages %}
      <div value="{{ page.title }}" class="ajax-page {{ page.class }}">
        <a class="js-nav {% if page.current == true %}active{% endif %}">{{ page.title }}</a>
      </div>
    {% endfor %}
	</nav>
{% endif %}
