{% block content %}

  {% if featured %}
    <div class="large container">
      {% include 'partials/common/block-item.twig' with { 
        title: featured.title,
        surtitle: featured.terms('category')[0].name,
        footer: featured.post_date|date(current_lang == 'en' ? 'F d, Y' : 'd F Y'),
        url: featured.link,
        image: featured.thumbnail,
        class: 'featured no-plus-hover',
        delay: 100
      } %}
    </div>
  {% endif %}

  <div class="large container">
	  <div class="block-list">
      {% for perspective in posts %}
        {% include 'partials/common/block-item.twig' with { 
          title: perspective.title,
          surtitle: perspective.terms('category')[0].name,
          footer: perspective.post_date|date(current_lang == 'en' ? 'F d, Y' : 'd F Y'),
          url: perspective.link,
          image: perspective.thumbnail,
          class: 'text-padding white-bg',
          delay: 200
        } %}

      {% endfor %}
	  </div>
	</div>

  {% include 'partials/common/pagination.twig' with { 'elements': posts.pagination(3) } %}

{% endblock %}
