<div class="large container">
  <div class="perspective-related">

    <h2 class="related-title">{{ __('Related articles', 'ecosystem-energy') }}</h2>

    <div class="block-list">
      {% for post in related_posts %}
        {% include 'partials/common/block-item.twig' with { 
          title: post.title,
          surtitle: post.meta('related_industry')[0].title,
          footer: post.post_date|date("F d, Y"),
          url: post.link,
          image: post.thumbnail,
          class: 'text-padding white-bg'
        } %}
      {% endfor %}
    </div>
    
  </div>
</div>