{% block content %}

  {% if featured %}
    <div class="large container">
      {% include 'partials/common/block-item.twig' with { 
        title: featured.title,
        surtitle: featured.meta('related_industry')[0].post_title,
        footer: featured.post_date|date("F d, Y"),
        url: featured.link,
        image: featured.thumbnail,
        class: 'featured no-plus-hover'
      } %}
    </div>
  {% endif %}

  <div class="large container">
	  <div class="block-list">
      {% for perspective in posts %}
      
        {% include 'partials/common/block-item.twig' with { 
          title: perspective.title,
          surtitle: perspective.meta('related_industry')[0].post_title,
          footer: perspective.post_date|date("F d, Y"),
          url: perspective.link,
          image: perspective.thumbnail,
          class: 'text-padding white-bg'
        } %}

      {% endfor %}
	  </div>
	</div>

  {% include 'partials/common/pagination.twig' with { 'elements': posts.pagination(3) } %}

{% endblock %}
