<div class="search-list">
  <div class="results-str">
    <span id="nb-results">{{ total }}</span> 
    {{ __('result', 'ecosystem-energy') ~ (total > 1 ? 's ' : ' ') ~ __('for', 'ecosystem-energy') }} 
    "{{ s }}"
  </div>

  <div class="results">
    {% for post in posts %}
      {% include 'partials/common/block-item.twig' with { 
        title: post.title,
        surtitle: post.get_post_type.labels.singular_name,
        url: post.link,
        class: 'text-padding no-image white-bg auto-height',
        delay: 100
      } %}
    {% endfor %}
  </div>

  {% include 'partials/common/pagination.twig' with { 'elements': posts.pagination(3) } %}

</div>