<div class="search-list">
  <div class="results">

    {% for post in posts %}
      {% include 'partials/block-item.twig' with { 
        title: post.title,
        surtitle: post.get_post_type.labels.singular_name,
        url: post.link,
        class: 'text-padding no-image white-bg auto-height'
      } %}
    {% endfor %}
  </div>

  {% include 'partials/lists/pagination.twig' with { 'elements': posts.pagination(5) } %}

</div>