<div class="social-ctn">
  <span>Share</span>
  <a href="" class="link-fb"><i class="icon-filter"></i></a>
  <a href="" class="link-ig"><i class="icon-filter"></i></a>
  <a href="" class="link-tw"><i class="icon-filter"></i></a>
  <a href="" class="link-li"><i class="icon-filter"></i></a>
</div>