.author-ctn {
  @include flex(flex-start, flex-start);
  gap: 40px;
  padding: 60px 0;
  border-top: 2px solid $darkgrey;

  .image {
    min-width: 200px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $darkgrey;
  }

  .content {
    .name {
      margin-bottom: 30px;
      @include fontSize(30, 38);
    }
  }

  @media (max-width: $mobile-large) {
    flex-direction: column;
    
  }
}