.case-study-slider {
  @extend .wrapper;
  @extend .blue;
  margin-top: 80px;
  padding: 100px 0;

  h2 {
    margin: 0 0 50px;
    @include fontSize(56, 64);
    color: white;
  }

  .category {
    position: absolute;
    right: 0;
    top: 24px;
    color: white;
  }

  @media (max-width: $tablet-large) {
    padding: 50px 0;

    h2 { margin-bottom: 20px; }

    .category {
      position: relative;
      top: 0;
      margin-bottom: 60px;
    }
  }

  @media (max-width: $tablet) {
    h2 { 
      @include fontSize(36, 42, 600);
      text-align: center; 
    }

    .category { text-align: center; }
  }
}