.case-study-slider {
  @extend .slider;

  h2 {
    margin: 0 0 50px;
    @include fontSize(56, 90);
    color: white;
  }

  .category {
    position: absolute;
    right: 0;
    top: 140px;
    color: white;
  }
}