.case-study-awards-ctn {
  background: linear-gradient(0deg, $lightgrey 60%, $blue 60%);

  .case-study-awards-list {
    margin: 0;
    padding: 40px 100px 40px 200px;
    background-color: white;
    background-image: url('/assets/images/ui/award_banner.svg');
    background-repeat: no-repeat;
    background-position: 70px 0;
    list-style: none;
  }

  li {
    @include flex(flex-start, space-between);
    padding: 20px 0;
    @include fontSize(18, 24, 600);

    &:not(:first-child) { border-top: 1px solid rgba($darkgrey, 0.2); }
    
    .organization { 
      font-size: 16px;
      font-weight: 500;
      margin: 0 60px 0 auto; 
    }

    .year {
      font-size: 16px;
    }
  }
  
  @media (max-width: $tablet) {
    .case-study-awards-list {
      padding: 20px 30px 20px 110px;
      background-position: 20px 0;
    }

    li {
      flex-wrap: wrap;
      .name { flex-basis: 100%; }
      .organization { margin-left: 0; }
    }
  }
}