.contact-cta {
  padding-top: 100px;
  padding-bottom: 100px;

  .container {
    .title { 
      max-width: 600px;
      margin: 0 auto 80px;
      @include fontSize(60, 70, 500, -1);
      text-align: center;
    }

    .btn {
      margin: auto;
    }
  }
}