.expertises-featured {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid rgba($darkgrey, 0.2);

  .featured-item {
    .head {
      @include flex(center, flex-start);

      img { 
        width: 140px; 
        margin-right: 40px;
      }
    }

    p { flex-basis: 100%; }
  }

  @media (max-width: 1200px) {
    .featured-item .head { flex-direction: column; }
  }

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
    .featured-item {
      .head img { margin: 0; }
      p { text-align: center; }
    }
  }
}