.home-hero-ctn {
  @include top;
  @include flex(flex-start, space-between);
  margin-bottom: 100px;

  .title-ctn {
    flex-basis: 60%;
    margin-top: 40px;
    h1 { @include fontSize(85, 90, 600, -0.85); }
  }

  .text-ctn {
    position: relative;
    flex-basis: 38%;
    overflow: hidden;

    .text {
      position: absolute;
      top: 30%;
      left: 20%;
      text-align: center;
      right: 20%;
      bottom: 30%;
    }

    .btn {
      position: absolute;
      bottom: 100px;
      right: 100px;
      i { transform: rotate(180deg); }
    }

    img {
      width: 100%;
      opacity: 0.1;
    }
  }
}