.industry-client-list {
  padding-bottom: 120px;

  .clients-head {
    @include flex(flex-start, space-between);
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: 2px solid $darkgrey;

    div { flex-basis: 65%; }
  }

  .clients-list {
    @include flex(center, space-evenly);
    padding: 60px 0;
    border-top: 1px solid rgba($darkgrey, 0.4);

    .image {
      width: 200px;
      height: 100px;

      img {
        width: 100%;
        height: 100%;
        padding: 12px;
        object-fit: contain;
      }
    }
  }

  @media (max-width: $mobile-max) {
    padding-bottom: 80px;

    .clients-head {
      flex-direction: column;
    }

    .clients-list {
      flex-wrap: wrap;
      padding: 0;
      border: 0px none;
    }
  }
}