.industry-cs-featured {
  @include flex(flex-start);
  gap: 25px;
  padding-top: 100px;

  .cs-title {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    
    & > h2, & > p { color: white; }
    & > p { opacity: 0.7; }
    a { color: $yellow; }
  }

  .link { color: $yellow !important; }

  .cs-featured {
    flex: 1 0 60%;

    .block-item { background-color: $darkblue; }

    .description { padding-bottom: 30px; }

    .image {
      position: relative;

      // Featured project tag
      &::before {
        content: 'Featured project';
        position: absolute;
        top: 0;
        left: 0;
        height: max-content;
        width: max-content;
        padding: 10px 24px;
        background-color: $yellow;
        color: $darkergrey;
        @include fontSize(16, 30, 600);
        z-index: 1;
      }
    }
  }

  @media (max-width: $tablet-large) {
    flex-wrap: wrap;
  }

  @media (max-width: $tablet) {
    .cs-featured { margin-top: 30px; }
  }
}
