#panel-body {
  .block-hero {
    padding-top: 0;

    .status { opacity: 0.6; }

    .social { margin-top: 30px; }

    .social-link {
      margin-top: 20px;
      margin-right: 20px;
      font-size: 26px;

      i { transition: $basicTransition; }
      
      &:hover i { color: $yellow; }
    }
  }
}
