#menu {
  @include flex(center, flex-start);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: $blue;
  z-index: 700;
  transition: $basicTransition;

  ul { padding: 0; }

  #menu-image {
    width: 20%;
    height: 100%;
    background-image: url('/assets/images/temp1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  #primary-menu {
    position: absolute;
    right: 0;
    width: 80%;
    height: 100%;
    padding: 200px 0;

    li { padding-left: 120px; }

    a {
      display: block;
      @include fontSize(48, 65, 500);
      color: $yellow;
      cursor: pointer;

      &.secondary-link {
        &::after {
          content: '>';
          margin-left: 10px;
        }
      }
    }

    .secondary-menu {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100vh;
      background-color: rgba(white, 0.03);
      transition: $basicTransition;
      overflow: hidden;

      &:not(.show) { width: 0 !important; }

      li {
        padding: 15px 0;
      }

      a {
        display: block;
        @include fontSize(22, 30, 500, -0.3);
        color: white;
      }
    }
  }

  &:not(.show) {
    width: 0 !important;
  }
}