.news-nav {
  @include flex(flex-start, space-between);

  .link {
    width: 50%;

    p { @include fontSize(16, 22); }
    a { @include fontSize(24, 30); }

    &.prev { padding-right: 50px; }

    &.next {
      text-align: right;
      padding-left: 50px;
    }
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    
    .link { 
      width: 100%;
      padding: 20px !important; 
    }
  }
}