#ajax-pagination {
  @include flex();
  padding: 100px 0;

  .ajax-page {
    @include flex();
    width: 60px;
    height: 60px;
    border-radius: 50%;

    &.current {
      border: 1px solid $yellow;
    }

    &.disabled {
      text-decoration: line-through;
      opacity: 0.4;
      pointer-events: none;
    }

    a {   
      @include fontSize(25, 35);
      text-align: center;
      pointer-events: none;
    }
  }
}