.page-awards {
  .block-hero .title-ctn { 
    flex-basis: 100%; 

    .title {
      margin-bottom: 50px;
      @include fontSize(85, 90, 600, -0.85);
      text-align: center;
  
      &::after {
        position: relative;
        top: 5px;
        margin-left: 30px;
        font-family: 'icomoon';
        content: "\e90d";
        color: $yellow;
        font-size: 70px;
      }
    }
  }

  .award-group {
    @include flex(flex-start, flex-start);
    margin-bottom: 50px;

    h2 {
      flex-basis: 200px;
      margin: 0;
      @include fontSize(58, 40, 600, -0.58);
    }

    ul {
      width: 100%;
      margin: 0;
      padding: 20px 0 0 40px;
      list-style: none;

      li {
        @include flex(flex-start, space-between);
        padding: 50px 0;
        border-top: 1px solid rgba($darkgrey, 0.2);

        &:first-child { border-top: 2px solid $darkgrey; }

        .logo {
          width: 180px;
          img { width: 110px; }
        }

        .content {
          @include flex(flex-start, space-between);
          gap: 30px;
          width: 100%;
        }

        .title {
          flex: 0 0 50%;
          margin: 0 auto 0 0;

          h3 { 
            margin: 0;
            @include fontSize(18, 24, 700);
          }

          p { 
            margin: 12px 0 0; 
            @include fontSize(14, 19, 500);
          }
        }

        .link-ctn {
          flex-basis: 50%;

          a { 
            &::after { color: $darkgrey; }
            &:hover::after { color: $yellow; };
            @include fontSize(18, 24, 600); 
          }
        }
      }
    }
  }

  @media (max-width: $tablet-large) {
    .award-group {
      flex-direction: column;

      h2 {
        flex-basis: auto;
      }

      ul {
        padding-left: 0;
      }
    }
  }

  @media (max-width: $mobile-large) {
    .block-hero .title-ctn .title {
      @include fontSize(56, 60, 600, -0.85);
      &::after { font-size: 50px; }
    }

    .award-group {
      h2 {
        @include fontSize(40, 40, 600, -0.58);
      }

      ul li {
        align-items: flex-start;
        
        .content { flex-direction: column; }
        .title p { margin-top: 0; }
        .link-ctn { margin-top: 10px; }
      }
    }
  }

  @media (max-width: $mobile) {
    .award-group {
      ul li {
        flex-direction: column;
      }
    }
  }
}