.page-case-studies {
  .bloc-list {
    gap: 30px 60px;
  }

  .block-item {
    &.featured .content .title {
      @include fontSize(46, 53, 500);
    }

    .content {
      min-height: auto;

      .title { @include fontSize(30, 38, 400); }

      .surtitle { 
        color: $darkgrey; 
        font-weight: 500;
        line-height: 21px;
      }
    }
  }
  .block-hero {
    
    #toggle-filters {
      margin: 0 0 0 auto;
    }
  }
}