.page-contact {
  .grey.wrapper {
    padding: 100px 0;

    &::after {
      right: auto;
      bottom: auto;
      top: -150px;
      left: -100px;
    }
  }

  @media (max-width: $mobile-large) {
    .grey.wrapper::after {
      top: -100px;
      width: 200px;
      height: 200px;
    }
  }
}