.page-default {
  .block-hero {
    padding-bottom: 20px;
  }

  .wp-block-quote {
    margin-left: 20px;
    padding: 30px 0;
    font-style: italic;
    opacity: 0.7;
    p { font-size: 115%; }
  }
}