.page-expertises {
  position: relative;

  #panel-body {
    .block-hero .surtitle { color: rgba($darkgrey, 0.7); }

    .case-studies {
      position: relative;
      margin-top: 50px;
      border-top: 1px solid $borderColor;

      .featured-title { 
        margin-top: 50px;
        @include fontSize(36, 44);
      }

      .link { 
        position: absolute;
        right: 0px;
        top: 65px;
      }
    }
  }

  @media (max-width: $mobile-large) {
    .block-item .content .title { padding-bottom: 14px; }
  }
}