.expertises-page {
  position: relative;

  .featured {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding-top: 60px;
    border-top: 1px solid rgba($darkgrey, 0.2);

    .featured-item {
      .head {
        @include flex(center, flex-start);
  
        img { 
          width: 140px; 
          margin-right: 40px;
        }
      }

      p {
        flex-basis: 100%;
      }
    }
  }

  .grid-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;

    .expertise-item {
      position: relative;
      background-color: $blue;

      h3 {
        position: absolute;
        bottom: 0;
        margin: 0;
        padding: 30px;
        @include fontSize(28, 38, 500);
        color: white;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.3;
      }
    }
  }

  .side-panel {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba($blue, 0.7);

    .content {
      position: absolute;
      top: 0;
      right: 0;
      width: 80%;
      height: 100%;
      background-color: white;
    }
  }
}