.page-home {
  .wrapper.bg-icon::after {
    left: -80px;
    right: auto;
    top: auto;
    bottom: 380px;
    font-size: 200px;
  }

  .news-ctn {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 0 0 120px;
    z-index: 1;

    .block-item {
      .content {
        .title { @include fontSize(32, 40, 500); }
        .surtitle { 
          @include fontSize(22, 30, 500); 
          &::before { top: -3px; }
        }
      }
    }
  }

  @media (max-width: 1550px) {
    .wrapper.bg-icon::after { left: -120px; }
  }

  @media (max-width: 1350px) {
    .wrapper.bg-icon::after { left: -210px; }
  }

  @media (max-width: $tablet-large) {
    .wrapper.bg-icon::after { display: none; }
    .news-ctn { grid-template-columns: 1fr; }
  }

  @media (max-width: $tablet) {
    .news-ctn .block-item .content {
      .title { @include fontSize(26, 32, 500); }
      .surtitle { @include fontSize(18, 24, 500); }
    }
  }
}