.front-page {

  .wrapper.bg-icon::after {
    left: -40px;
    right: auto;
    top: 50%;
    bottom: 0;
    font-size: 200px;
  }

  .news-ctn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 0 0 120px;
    z-index: 1;
  }
}