.page-search {
  .block-hero {
    flex-direction: column;
    margin-bottom: 120px;
    padding-bottom: 40px;
    border-bottom: 1px solid $darkgrey;

    .search-field {
      position: relative;
      width: 100%;

      input {
        width: 100%;
        height: 100%;
        margin-top: 20px;
        padding: 0;
        border: 0 none;
        background: none;
        @include fontSize(62, 62);
  
        &:focus, &:focus-visible { outline: none; }
      }

      a {
        position: absolute;
        right: 0;
        top: 50px;
      }
    }
  }

  .results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  @media (max-width: $tablet) {
    .block-hero {
      .search-field {
        input {
          @include fontSize(40, 40);
        }
      }
    }
    .results {
      grid-template-columns: 1fr;
    }
  }
}