.page-industry {
  .block-hero {
    align-items: center;
    padding-left: 0;

    .title-ctn {
      margin: 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 120px;
    }

    .image-ctn img { min-height: 470px; }
  }

  @media (min-width: 1100px) {
    .block-hero .title-ctn {
      max-width: 800px;
      margin: 0 30px 0 auto;
    }
  }

  @media (max-width: $tablet-large) {
    .block-hero .title-ctn {
      padding-bottom: 0;
      .title { margin-bottom: 50px; }
    }
  }

  @media (max-width: $tablet) {
    .block-hero .title-ctn {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}