.page-industry {
  .block-hero .title-ctn {
    margin: 0;
    padding: 0 30px;
    .surtitle { padding-top: 40px; }
  }

  @media (min-width: 1100px) {
    .block-hero .title-ctn {
      max-width: 800px;
      margin: 0 30px 0 auto;
      padding: 0;
    }
  }
}