{% extends 'base.twig' %}

{% block pageClass %}grey{% endblock %}

{% block content %}

  {% include 'partials/titles/page-title.twig' with { title: post.title, large: true } %}

  {% include 'partials/lists/filters.twig' with { large: true, featured: featured, url: 'news' } %}
 
  <div id="ajax-content">
    {% include 'partials/lists/loading.twig' %}
    <div class="inner">
      {% if posts|length %} {% include 'partials/lists/news_list.twig' with { items: posts, featured: featured } %}
      {% else %} {% include 'partials/lists/no-results.twig' %} {% endif %}
    </div>
  </div>

  {% include 'partials/contact-cta.twig' %}

{% endblock %}

{% block specific_script %}
	<script src="{{ theme.link }}/dist/scripts/pages/ajax-content.js"></script>
{% endblock %}