{% extends 'base.twig' %}
{% block content %}
    <img class="" src="{{ post.thumbnail.src('large') }}" alt="{{ post.thumbnail.title }}">
    <h1>{{post.title}}</h1>
    <div>
        {{post.content}}
    </div>
{% endblock %}