{% extends 'base.twig' %}

{% block content %}

  {% include 'partials/page-title.twig' with { 
    title: post.title, 
    text: 'We have built a business that re-connects engineering design, construction and commissioning so every choice we make contributes to better project outcomes.' 
  } %}

  {% include 'filters/case-studies-filters.twig' with {} %}

  <div id="ajax-content">
    <div class="inner">         
      {% include 'lists/case_study_list.twig' with { items: case_studies } %}
    </div>
  </div>

{% endblock %}

{% block specific_script %}
	<script src="{{theme.link}}/dist/scripts/pages/case-studies.js"></script>
{% endblock %}