{% extends 'base.twig' %}

{% block pageClass %}grey{% endblock %}

{% block content %}

  {% include 'partials/titles/page-title.twig' with { 
    title: post.title, 
    text: 'We have built a business that re-connects engineering design, construction and commissioning so every choice we make contributes to better project outcomes.' 
  } %}

  {% include 'partials/ajax/case-studies-filters.twig' with { industries: industries, featured: featured } %}
 
  <div id="ajax-content">
    <div class="inner">
      {% include 'partials/ajax/case_study_list.twig' with { items: case_studies, featured: featured } %}
    </div>
  </div>

{% endblock %}

{% block specific_script %}
	<script src="{{theme.link}}/dist/scripts/pages/case-studies.js"></script>
{% endblock %}