{% extends 'base.twig' %}

{% block content %}

  <form id="ajax-form">
    <input type="hidden" id="ajax-settings" data-url="/ajax/{{ current_lang }}/case-studies" data-limit="1">

    <input type="checkbox" name="industries" value="57" />
    <input type="checkbox" name="industries" value="58" />
    <input type="checkbox" name="industries" value="59" />
    <input type="checkbox" name="industries" value="60" />
  </form>

  {% include 'partials/page-title.twig' with { title: post.title, text: post.content } %}

  <div id="ajax-content">
    <div class="inner">         
      {% include 'lists/case_study_list.twig' with { items: case_studies } %}
    </div>
  </div>

{% endblock %}

{% block specific_script %}
	<script src="{{theme.link}}/dist/scripts/pages/case-studies.js"></script>
{% endblock %}