{% extends 'base.twig' %}

{% block pageClass %}grey{% endblock %}

{% block content %}

  {% include 'partials/titles/page-title.twig' with { 
    title: post.title, 
    text: 'We have built a business that re-connects engineering design, construction and commissioning so every choice we make contributes to better project outcomes.' 
  } %}

  {% include 'partials/lists/filters.twig' with { 
    featured: featured,
    url: 'case-studies',
    fields: { industries: industries },
    labels: { industries: 'Sectors' }
  } %}
 
  <div id="ajax-content">
    <div class="inner">
      {% include 'partials/lists/case_studies_list.twig' with { items: case_studies, featured: featured } %}
    </div>
  </div>

{% endblock %}

{% block specific_script %}
	<script src="{{theme.link}}/dist/scripts/pages/ajax-content.js"></script>
{% endblock %}