{% extends 'base.twig' %}

{% block pageClass %}contact-page{% endblock %}

{% block content %}
  <div class="container">
    {% include 'partials/common/block-hero.twig' with { 
      title: post.title,
      text: __('Interested in finding out more about what we do and our business model? Do you want to get in touch with a particular team member? Locate one of our offices? Whatever you need, please contact us – we’re happy to talk.', 'ecosystem-energy') ,
      class: ''
    } %}

    {% include 'partials/contact-offices.twig' %}
  </div>

  <div class="grey wrapper bg-icon">
    <div class="container contact-form">
      <h2 data-aos="fade-up">{{ __('Send us a message', 'ecosystem-energy') }}</h2>
      <p data-aos="fade-up" data-aos-delay="200">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor tellus vitae rhoncus odio ullamcorper.</p>
      <div class="form" data-aos="fade-up">
        {% filter shortcodes %}
          [gravityform id="{{ 'en' in site.language ? 2 : 1 }}" title="false" description="false" ajax="true"][/gravityform]
        {% endfilter %} 
      </div>
    </div>
  </div>
    
{% endblock %}

{% block specific_script %}
	<script src="{{ theme.link }}/dist/scripts/pages/contact.js"></script>
{% endblock %}