{% extends 'base.twig' %}

{% block pageClass %}contact-page{% endblock %}

{% block content %}
  <div class="container">

    {% include 'partials/titles/block-hero.twig' with { 
      title: post.title,
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor tellus vitae rhoncus odio ullamcorper. Placerat mi felis consequat lobortis. At lobortis eu tincidunt hendrerit. Adipiscing amet faucibus cursus eleifend.' ,
      class: ''
    } %}

    {% include 'partials/contact-offices.twig' %}

    <div class="contact-form">
      <h2>Send us a message</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor tellus vitae rhoncus odio ullamcorper.</p>
      {% filter shortcodes %}
        [gravityform id="1" title="false" description="false" ajax="true"][/gravityform]
      {% endfilter %} 
    </div>
    
  </div>
{% endblock %}

{% block specific_script %}
	<script src="{{ theme.link }}/dist/scripts/pages/contact.js"></script>
{% endblock %}