{% extends 'base.twig' %}

{% block pageClass %}expertises-page{% endblock %}

{% block content %}

  <div class="large container">
    {% include 'partials/titles/block-hero.twig' with { 
      title: post.title, 
      text: 'Ecosystem seeks out the inherent efficiency in every system and makes the most of it. The technical measures we implement work together to deliver the results our clients want and need.',
      class: 'content-66'
    } %}
  </div>
  
  <div class="large container">
    {% include 'partials/expertises-featured.twig' %}
  </div>
  
  <div class="grey wrapper">
    <div class="large container">
      {% include 'partials/expertises-list.twig' %}
    </div>
  </div>

  {% include 'partials/contact-cta.twig' %}

  <div id="side-panel-ctn">
    <div id="panel-overlay"></div>

    <div id="panel-content">
      {% include 'partials/expertise.twig' %}
    </div>
  </div>

{% endblock %}

{% block specific_script %}
	<script src="{{ theme.link }}/dist/scripts/pages/expertises.js"></script>
{% endblock %}