{% extends 'base.twig' %}

{% block pageClass %}page-home overlay{% endblock %}

{% block content %}

  {% include 'partials/common/page-overlay.twig' %}

  {# Hero #}
  <div class="large container">
    {% include 'partials/home-hero.twig' with { 
      title: home_hero.title, 
      content: home_hero.content, 
      button: home_hero.button 
    } %}
  </div>

  {# Sectors, news and perspectives #}
  <div class="grey wrapper bg-icon" id="scroll-content">
    <div class="container">
      {% include 'partials/home-sectors.twig' %}
      
      <div class="news-ctn">
        {% include 'partials/common/block-item.twig' with { 
          surtitle: __('News', 'ecosystem-energy'),
          title: news[0].title, 
          url: news[0].link, 
          footer: news[0].post_date|date("F d, Y"),
          class: 'no-image white-bg text-padding',
          delay: 200
        } %}

        {% include 'partials/common/block-item.twig' with { 
          surtitle: __('Perspectives', 'ecosystem-energy'),
          title: perspective[0].title, 
          url: perspective[0].link, 
          footer: perspective[0].post_date|date("F d, Y"),
          class: 'no-image white-bg text-padding',
          delay: 400
        } %}
      </div>
    </div>
  </div>

  {# Learn more CTA #}
	{% if featured_block %}
    {% include 'partials/common/block-cta.twig' with { 
      surtitle: featured_block.upper_title,
      title: featured_block.title, 
      description: featured_block.content,
      image: featured_block.image,
      buttonUrl: featured_block.button.url,
      buttonTitle: featured_block.button.title,
      mirror: true
    } %}
	{% endif %}

  {# Slider #}
  {% if case_studies|length %}
    <div class="home-slider">
      <div class="container">
        {% include 'partials/home-slider.twig' %}
      </div>
    </div>
  {% endif %}

  {# Career CTA #}
	{% if career_block %}
    {% include 'partials/common/block-cta.twig' with { 
      surtitle: career_block.upper_title,
      title: career_block.title, 
      description: career_block.content,
      image: career_block.image,
      buttonUrl: career_block.button.url,
      buttonTitle: career_block.button.title
    } %}
	{% endif %}

  {# Contact CTA #}
  {% include 'partials/common/contact-cta.twig' %}

{% endblock %}

{% block specific_script %}
	<script src="{{ theme.link }}/dist/scripts/pages/front-page.js"></script>
{% endblock %}