{% extends 'base.twig' %}

{% block pageClass %}blue-head blue-footer page-leadership{% endblock %}

{% block content %}
  <div class="blue wrapper">
    <div class="large container">

      {% include 'partials/common/block-hero.twig' with {
        title: post.title,
        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor tellus vitae rhoncus odio ullamcorper. Placerat mi felis consequat lobortis. At lobortis eu tincidunt hendrerit. Adipiscing amet faucibus cursus eleifend.',
        class: 'invert'
      } %}

      {% include 'partials/leadership-list.twig' %}
      {% include 'partials/common/contact-cta.twig' with { invert: true } %}

    </div>
  </div>

  {% include 'partials/leadership-panel.twig' %}

{% endblock %}

{% block specific_script %}
	<script src="{{ theme.link }}/dist/scripts/pages/leadership.js"></script>
{% endblock %}