{% extends 'base.twig' %}

{% block pageClass %}default-page{% endblock %}

{% block content %}
  <div class="container">
    {% include 'partials/common/block-hero.twig' with { title: title } %}
    {{ post.content }}
  </div>
{% endblock %}