{% extends 'base.twig' %}

{% block pageClass %}grey{% endblock %}

{% block content %}
  <div class="large container">
    {% include 'partials/common/block-hero.twig' with { title: title } %}
  
    {{ post }}
  </div>
{% endblock %}