{% extends 'base.twig' %}

{% block pageClass %}page-default{% endblock %}

{% block content %}
  <div class="container">
    {% include 'partials/common/block-hero.twig' with { title: title } %}

    <div class="gutenberg-content">
      {{ post.content }}
    </div>
  </div>
  
  {% include 'partials/common/contact-cta.twig' %}
{% endblock %}