{% extends 'base.twig' %}

{% block pageClass %}grey search-page{% endblock %}
{% set n = posts|length %}

{% block content %}
  <div class="container">
    <div class="block-hero">
      <div class="results-str"><span id="nb-results">{{ n }}</span> result{{ n > 1 ? 's' : '' }} for</div>

      <form class="search-field">
        <input type="hidden" id="ajax-settings" data-url="/ajax/{{ current_lang }}/search" data-limit="2">
        <input type="text" name="s" id="s" value="{{ s }}">
        <a class="search-clear" onClick="document.getElementById('s').value=''"><i class="icon-close-medium"></i></a>
      </form>
    </div>
  </div>

	<div class="container">
    {% include 'partials/search-list.twig' %}
	</div>
{% endblock %}
