{% extends 'base.twig' %}

{% block pageClass %}grey page-search{% endblock %}

{% block content %}
  <div class="container">
    <div class="block-hero">
      <form class="search-field" id="ajax-form">
        <input type="hidden" id="ajax-settings" data-url="/ajax/{{ current_lang }}/search" data-limit="12">
        <input type="text" name="s" id="s" value="{{ s }}" placeholder="{{ current_lang == 'fr' ? 'Rechercher...' : 'Search...' }}">
        <a id="search-clear" onClick="document.getElementById('s').value=''"><i class="icon-close-medium"></i></a>
      </form>
    </div>
  </div>

	<div class="container" id="ajax-content">
    {% include 'partials/common/loading.twig' %}
    <div class="inner">
      {% include 'partials/' ~ (total ? 'search-list.twig' : 'common/no-results.twig') %}
    </div>
	</div>
{% endblock %}

{% block specific_script %}
	<script src="{{ theme.link }}/dist/scripts/pages/search.js"></script>
{% endblock %}