{% extends 'base.twig' %}

{% block pageClass %}blue-head industry-page{% endblock %}

{% block content %}

  {# Hero #}
  <div class="blue wrapper">
    <div class="large container">
      {% include 'partials/titles/block-hero.twig' with { 
        surtitle: 'Markets',
        title: post.title,
        image: post.thumbnail,
        class: 'invert offset-image'
      } %}
    </div>
  </div>

  {# Gutenberg content #}
  <div class="container" data-aos="fade-up">
    {{ post.content }}
  </div>

  {# Client list #}
  {% if clients_block.clients_list|length %}
    <div class="container">
      {% include 'partials/industry-client-list.twig' %}
    </div>
  {% endif %}

  {# Featured blocks #}
  {% if featured_blocks.block_list|length %}
    <div class="grey wrapper">
      {% include 'partials/industry-featured.twig' %}
    </div>
  {% endif %}

  {# Information blocks #}
  {% if informations_blocks|length > 0%}
    <div class="container">
      {% include 'partials/industry-info-blocks.twig' %}
    </div>
  {% endif %}

  {# Case studies featured and slider #}
  <div class="blue wrapper">
    <div class="container">
      {% include 'partials/industry-cs-featured.twig' %}
      {% include 'partials/industry-cs-slider.twig' %}
    </div>
  </div>

  {# Contact CTA #}
  {% include 'partials/contact-cta.twig' %}

{% endblock %}

{% block specific_script %}
	<script src="{{ theme.link }}/dist/scripts/pages/industry.js"></script>
{% endblock %}