{% extends 'base.twig' %}

{% block pageClass %}blue-head page-industry{% endblock %}

{% block content %}

  {# Hero #}
  <div class="blue wrapper">
    {% include 'partials/common/block-hero.twig' with { 
      surtitle: __('Markets', 'ecosystem-energy'),
      title: post.title,
      image: post.thumbnail,
      class: 'invert offset-image'
    } %}
  </div>

  {# Gutenberg content #}
  <div class="container gutenberg-content" data-aos="fade-up">
    {{ post.content }}
  </div>

  {# Featured blocks #}
  {% if featured_blocks.block_list|length %}
    <div class="grey wrapper">
      {% include 'partials/industry-featured.twig' %}
    </div>
  {% endif %}

  {# Information blocks #}
  {% if informations_blocks|length %}
    <div class="container">
      {% include 'partials/industry-info-blocks.twig' %}
    </div>
  {% endif %}

  {# Client list #}
  {% if clients_block.clients_list|length %}
    <div class="container">
      {% include 'partials/industry-client-list.twig' %}
    </div>
  {% endif %}

  {# Case studies featured and slider #}
  <div class="industry-cs-slider">
    <div class="container">
      {% if featured_case_study %} {% include 'partials/industry-cs-featured.twig' %} {% endif %}
      {% if case_studies|length %}{% include 'partials/industry-cs-slider.twig' %} {% endif %}
    </div>
  </div>

  {# Contact CTA #}
  {% include 'partials/common/contact-cta.twig' %}

{% endblock %}

{% block specific_script %}
	<script src="{{ theme.link }}/dist/scripts/pages/industry.js"></script>
{% endblock %}