{% extends 'base.twig' %}

{% block pageClass %}single-perspective{% endblock %}

{% block content %}
  <div class="large container">
    {% include 'partials/titles/post-hero.twig' with { post: post, tags: tags } %}
  </div>

  <div class="small container">
    {{ post.content }}
    {% include 'partials/share.twig' %}
    {% include 'partials/author.twig' %}
  </div>

  <div class="large container related-list">
    <h2 class="title">Related posts</h2>
    <div class="block-list">
      {% for post in posts %}
        {% include 'partials/block-item.twig' with { 
          title: post.title,
          section: post.meta('related_industry')[0].post_title,
          description: post.preview.read_more(false),
          url: post.link,
          image: post.thumbnail
        } %}
      {% endfor %}
    </div>
  </div>

  {% include 'partials/contact-cta.twig' %}
  </div>
{% endblock %}