{% extends 'base.twig' %}

{% block pageClass %}grey page-news{% endblock %}

{% block content %}

  {% include 'partials/common/post-hero.twig' with { post: post } %}

  <div class="small container">
    {{ post.content }}

    {% include 'partials/common/share.twig' %}
    {% include 'partials/news-nav.twig' with { next: next, prev: previous } %}
    {% include 'partials/common/contact-cta.twig' %}
  </div>
  
{% endblock %}