{% extends 'base.twig' %}

{% block pageClass %}page-perspective{% endblock %}

{% block content %}

  {% include 'partials/common/post-hero.twig' with { post: post, tags: tags } %}

  <div class="small container">
    {{ post.content }}
    {% include 'partials/common/share.twig' %}
    {% include 'partials/perspective-author.twig' %}
  </div>

  <div class="grey wrapper">
    {% include 'partials/perspective-related.twig' %}
  </div>

  {% include 'partials/common/contact-cta.twig' %}
  </div>
{% endblock %}