{% extends 'base.twig' %}

{% block pageClass %}grey blue-head page-case-study{% endblock %}

{% block content %}

  {# Hero #}
  <div class="blue wrapper">
    {% include 'partials/case-study-hero.twig' %}
  </div>

  {# Awards list #}
  {% if awards_list|length > 0%}
    <div class="case-study-awards-ctn">
      <div class="container">
        {% include 'partials/case-study-awards.twig' %}
      </div>
    </div>
  {% endif %}

  {# Gutenberg post content #}
  <div class="container gutenberg-content" data-aos="fade-up" data-aos-delay="200">
    {{ post.content }}
  </div>

  {# Case studies slider #}
  <div class="case-study-slider">
    <div class="container">
      {% include 'partials/case-study-slider.twig' %}
    </div>
  </div>

  {# CTAs #}
  <div class="white wrapper">
    {% if related_industry|length %}
      {% include 'partials/common/block-cta.twig' with { 
        surtitle: __('Your industry', 'ecosystem-energy'),
        title: related_industry[0].title, 
        description: related_industry[0].preview.read_more(false),
        image: related_industry[0].thumbnail,
        buttonUrl: related_industry[0].link,
        buttonTitle: __('Learn more', 'ecosystem-energy'),
      } %}
    {% endif %}

    {% include 'partials/common/contact-cta.twig' %}
  </div>

{% endblock %}

{% block specific_script %}
	<script src="{{ theme.link }}/dist/scripts/pages/single-case-study.js"></script>
{% endblock %}