{% extends 'base.twig' %}

{% block pageClass %}grey{% endblock %}

{% block content %}
  <div class="large container">
    {% include 'partials/titles/post-hero.twig' with { post: post } %}
  </div>

  <div class="container">
    {{ post.content }}

    {% include 'partials/social.twig' %}
    {% include 'partials/contact-cta.twig' %}
  </div>
{% endblock %}